<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-if="vm.isAuthenticated()">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <!--<div class="pull-left image">
                <img src="content/images/user.png" class="img-circle" alt="User Image">
            </div>-->
            <div class="text-center info">
                <p>{{vm.user.firstName}} {{vm.user.lastName}}</p>
                <!-- Status -->
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    <span
                        data-translate="global.online">Online
                    </span>
                </a>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" data-translate="global.menu.configurations">CONFIGURATION</li>
            <li ui-sref="user-management" ui-sref-active="active"
                has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="fa fa-users"></i>
                    <span data-translate="global.menu.admin.userManagement">Utilisateurs </span>
                </a>
            </li>
            <li ui-sref="role" ui-sref-active="active"
                has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="fa fa-group"></i>
                    <span data-translate="global.menu.entities.role">Rôles </span>
                </a>
            </li>
        </ul>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" data-translate="global.menu.system">SYSTEME</li>

            <li ui-sref="amodiataire" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <span
                        data-translate="global.menu.entities.amodiataire">Aot
                    </span>
                </a>
            </li>

            <li ui-sref="echeance" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span
                        data-translate="global.menu.entities.echeance">Echéances
                    </span>
                </a>
            </li>
            <li ui-sref="facture" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-usd"></i>
                    <span data-translate="global.menu.entities.facture">Facture</span>
                </a>
            </li>

            <li ui-sref="reglement" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-book"></i>
                    <span data-translate="global.menu.entities.reglement">Règlement</span>
                </a>
            </li>
            <li ui-sref="point" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <span data-translate="global.menu.entities.point">Points</span>
                </a>
            </li>

            <li ui-sref="task" ui-sref-active="active" has-authority="ROLE_ADMIN">
                <a href="">
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span data-translate="global.menu.entities.task">Tâche</span>
                </a>
            </li>
        </ul>


        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>


