<section class="content-header">

    <h1 data-translate="gestaotApp.aot.home.createOrEditLabel">Aots</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span
            data-translate="global.menu.home">Home</span> </a></li>
        <li><a ui-sref="aot-management"
               data-translate="global.menu.entities.aot"> Aots</a></li>
        <li><a
            data-translate="{{ !vm.aot.id ? 'entity.action.new' : 'entity.action.edit' }}">
            Nouveau</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="box box-primary">
            <div class="box-header with-border">
                <jhi-alert-error></jhi-alert-error>
            </div>

            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;
            </button>
            <h4 class="modal-title" id="myAmodiataireLabel"
                data-translate="gestionaotApp.amodiataire.home.createOrEditLabel">Create or edit a Amodiataire</h4>-->

            <div class="box-body">

                <fieldset class="field-border">
                    <legend class="field-border">General Infos</legend>
                    <div class="row">
                        <div class="form-group col-md-4" ng-show="vm.amodiataire.id">
                            <label for="id" data-translate="global.field.id">ID</label>
                            <input type="text" maxlength="254" class="form-control" id="id" name="id"
                                   ng-model="vm.amodiataire.id" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.numeroAutorisation"
                                   for="field_numeroAutorisation">Numero Autorisation</label>
                            <input type="text" maxlength="254" class="form-control" name="numeroAutorisation"
                                   id="field_numeroAutorisation"
                                   ng-model="vm.amodiataire.numeroAutorisation"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.nomSociete"
                                   for="field_nomSociete">Nom Societe</label>
                            <input type="text" maxlength="254" class="form-control" name="nomSociete"
                                   id="field_nomSociete"
                                   ng-model="vm.amodiataire.nomSociete"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.bp"
                                   for="field_bp">Bp</label>
                            <input type="text" maxlength="254" class="form-control" name="bp" id="field_bp"
                                   ng-model="vm.amodiataire.bp"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.ville"
                                   for="field_ville">Ville</label>
                            <select type="text" maxlength="254" class="form-control" name="ville" id="field_ville"
                                    ng-model="vm.amodiataire.ville">
                                <option>Douala</option>
                                <!-- 	                	<option>Kribi</option> -->
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.numeroTelephone"
                                   for="field_numeroTelephone">Numero Telephone</label>
                            <input type="text" maxlength="254" class="form-control" name="numeroTelephone"
                                   id="field_numeroTelephone"
                                   ng-model="vm.amodiataire.numeroTelephone"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.niu"
                                   for="field_niu">Niu</label>
                            <input type="text" maxlength="254" class="form-control" name="niu" id="field_niu"
                                   ng-model="vm.amodiataire.niu"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.rccm"
                                   for="field_rccm">Rccm</label>
                            <input type="text" maxlength="254" class="form-control" name="rccm" id="field_rccm"
                                   ng-model="vm.amodiataire.rccm"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.duree"
                                   for="field_duree">Duree</label>
                            <input ng-disabled="vm.isDisabled();" type="number" min="0" class="form-control"
                                   name="duree"
                                   id="field_duree"
                                   ng-model="vm.amodiataire.duree" ng-change="vm.validateExpirationDate();"
                            />
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.superficie"
                                   for="field_superficie">Superficie</label>
                            <input ng-disabled="vm.isDisabled();" type="number" min="0" ng-change="vm.computeAmounts();"
                                   class="form-control" name="superficie" id="field_superficie"
                                   ng-model="vm.amodiataire.superficie"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.tarifHorsTaxe"
                                   for="field_tarifHorsTaxe">Tarif Hors Taxe</label>
                            <input ng-disabled="vm.isDisabled();" type="number" min="0" ng-change="vm.computeAmounts();"
                                   class="form-control" name="tarifHorsTaxe" id="field_tarifHorsTaxe"
                                   ng-model="vm.amodiataire.tarifHorsTaxe"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.montantTrimestrielHT"
                                   for="field_montantTrimestrielHT">Montant Trimestriel HT</label>
                            <input type="money" dart-currency min="0" ng-disabled="true" class="form-control"
                                   name="montantTrimestrielHT" id="field_montantTrimestrielHT"
                                   ng-model="vm.amodiataire.montantTrimestrielHT"
                            />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label"
                                   data-translate="gestionaotApp.amodiataire.montantTrimestrielTTC"
                                   for="field_montantTrimestrielTTC">Montant Trimestriel TTC</label>
                            <input ng-disabled="true" dart-currency type="money" min="0" class="form-control"
                                   name="montantTrimestrielTTC" id="field_montantTrimestrielTTC"
                                   ng-model="vm.amodiataire.montantTrimestrielTTC"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.montantCaution"
                                   for="field_montantCaution">Montant Caution</label>
                            <input type="money" dart-currency min="0" class="form-control" name="montantCaution"
                                   id="field_montantCaution"
                                   ng-model="vm.amodiataire.montantCaution"
                            />
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.dateCaution"
                                   for="field_dateCaution">Date Caution</label>
                            <div class="input-group">
                                <input id="field_dateCaution" type="text" class="form-control" name="dateCaution"
                                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.amodiataire.dateCaution"
                                       is-open="vm.datePickerOpenStatus.dateCaution"
                                />
                                <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCaution')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
	                        </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.maitriseCaution"
                                   for="field_maitriseCaution">maitriseCaution</label>
                            <input type="text" maxlength="254" class="form-control" name="maitriseCaution"
                                   id="field_maitriseCaution"
                                   ng-model="vm.amodiataire.maitriseCaution"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.dateSouscription"
                                   for="field_dateSouscription">Date Souscription</label>
                            <div class="input-group">
                                <input id="field_dateSouscription" type="text" class="form-control"
                                       name="dateSouscription"
                                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.amodiataire.dateSouscription"
                                       is-open="vm.datePickerOpenStatus.dateSouscription"
                                />
                                <span class="input-group-btn">
	                            <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar('dateSouscription')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
	                        </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.dateSignature"
                                   for="field_dateSignature">Date Signature</label>
                            <div class="input-group">
                                <input ng-disabled="vm.isDisabled();" id="field_dateSignature"
                                       ng-change="vm.validateExpirationDate();" type="text" class="form-control"
                                       name="dateSignature" uib-datepicker-popup="{{dateformat}}"
                                       ng-model="vm.amodiataire.dateSignature"
                                       is-open="vm.datePickerOpenStatus.dateSignature"/>
                                <span class="input-group-btn">
	                            <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar('dateSignature')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
	                        </span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.nomSignataireAOT"
                                   for="field_nomSignataireAOT">nomSignataireAOT</label>
                            <input type="text" maxlength="254" class="form-control" name="nomSignataireAOT"
                                   id="field_nomSignataireAOT"
                                   ng-model="vm.amodiataire.nomSignataireAOT"
                            />
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label class="control-label" data-translate="gestionaotApp.amodiataire.dateExpiration"
                                   for="field_dateExpiration">Date Expiration</label>
                            <div class="input-group">
                                <input id="field_dateExpiration" ng-disabled="true" type="text" class="form-control"
                                       name="dateExpiration" uib-datepicker-popup="{{dateformat}}"
                                       ng-model="vm.amodiataire.dateExpiration"
                                       is-open="vm.datePickerOpenStatus.dateExpiration"
                                />
                                <span class="input-group-btn">
	                            <button type="button" class="btn btn-default"
                                        ng-click="vm.openCalendar('dateExpiration')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
	                        </span>
                            </div>
                        </div>
                        <!--
                                        <div class="form-group col-md-6">
                                            <label class="control-label" data-translate="gestionaotApp.amodiataire.dateEcheance" for="field_dateEcheance">Date Echeance</label>
                                                <div class="input-group">
                                                    <input id="field_dateEcheance" type="text" class="form-control" name="dateEcheance" uib-datepicker-popup="{{dateformat}}" ng-model="vm.amodiataire.dateEcheance" is-open="vm.datePickerOpenStatus.dateEcheance"
                                                    />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEcheance')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div> -->
                    </div>
                </fieldset>
                <fieldset>
                    <legend data-translate="gestionaotApp.point.home.title"></legend>

                    <span ng-show="vm.pointErrorMessage" class="text-red">{{vm.pointErrorMessage}}</span>
                    <span ng-show="vm.pointWarningMessage" class="text-yellow">{{vm.pointWarningMessage}}</span>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label" data-translate="gestionaotApp.point.numBorne"
                                   for="field_numBorne">Num
                                Borne</label>
                            <div class="input-group">
                                <input placeholder="Num" id="field_numBorne" min="0" type="number" class="form-control"
                                       name="numBorne" ng-model="vm.point.numBorne"/>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" data-translate="gestionaotApp.point.lat" for="field_lng">Num
                                Borne</label>
                            <div class="input-group">
                                <input placeholder="Lat" type="number" min="0" class="form-control" name="lat"
                                       id="field_lat" ng-model="vm.point.lat"/>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" data-translate="gestionaotApp.point.lng" for="field_lng">Num
                                Borne</label>
                            <div class="input-group">
                                <input placeholder="Long" type="number" min="0" class="form-control" name="lng"
                                       id="field_lng"
                                       ng-model="vm.point.lng"/>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label"></label>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" ng-click="vm.addPoint();"><span
                                    data-translate="gestionaotApp.amodiataire.add">Add</span></button>
                                <button type="button" ng-click="vm.annuler()" class="btn"><span
                                    data-translate="gestionaotApp.amodiataire.cancel">Cancel</span></button>
                            </div>
                        </div>
                        <span class="col-md-3">
	        		</span>
                    </div>

                    <div class="table-responsive">
                        <table class="jh-table table table-striped">
                            <thead>
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th jh-sort-by="id"><span data-translate="gestionaotApp.point.numBorne">Num Borne</span>
                                    <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="lat"><span data-translate="gestionaotApp.point.lat">Lat</span> <span
                                    class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="lng"><span data-translate="gestionaotApp.point.lng">Lng</span> <span
                                    class="glyphicon glyphicon-sort"></span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="point in vm.points">
                                <!-- 		                    <td ng-if="point.id"><a ui-sref="point-detail({id:point.id})">{{point.numBorne}}</a></td> -->
                                <td><input type="number" min="0" class="form-control" ng-model="point.numBorne"/></td>
                                <td><input type="number" min="0" class="form-control" ng-model="point.lat"/></td>
                                <td><input type="number" min="0" class="form-control" ng-model="point.lng"/></td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="button"
                                                class="btn btn-primary btn-sm" ng-click="vm.editPoint(point);">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger btn-sm" ng-click="vm.removePoint(point, true);">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="text-red" ng-if="vm.differenceSuperficie < 0"><span ng-translate="">La supperficie calculee est superieure a la superficie saisie</span>Diff
                                = {{vm.differenceSuperficie}}
                            </div>
                            <div class="text-red" ng-if="vm.differenceSuperficie > 0"><span ng-translate="">La supperficie calculee est inferieure a la superficie saisie</span>Diff
                                = {{vm.differenceSuperficie}}
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    data-translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit"
                        ng-disabled="editForm.$invalid || !vm.amodiataire.nomSociete || !vm.amodiataire.superficie || !vm.amodiataire.tarifHorsTaxe || !vm.amodiataire.dateSignature  || !vm.amodiataire.niu  || !vm.amodiataire.dateSignature  || !vm.amodiataire.numeroAutorisation || vm.isSaving"
                        class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                    data-translate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </form>

</section>
