<section class="content-header">

    <h1 data-translate=" gestionaotApp.amodiataire.home.title">Amodiataires</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="gestionaotApp.amodiataire.home.title"> Amodiataires</a></li>
    </ol>

    <!--<h1>
        <span data-translate="gestionaotApp.amodiataire.home.title">Amodiataires</span>
        <small>liste</small>
    </h1>-->

    <!--<ol class="breadcrumb">
        <li>
            <button class="btn btn-primary btn-sm pull-right" ui-sref="amodiataire.new" style="margin-top: -10px;">
                <span class="glyphicon glyphicon-plus"></span>
                <span data-translate="gestionaotApp.amodiataire.home.createLabel">
		                Create new Amodiataire
		            </span>
            </button>
        </li>
    </ol>-->

</section>

<jhi-alert></jhi-alert>

<!-- <br/> -->

<section class="content">
    <div class="box box-default">

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <form ng-submit="vm.search();" name="filterForm">
                        <div class="row">

                            <div class="form-group col-md-2">
                                <!-- <label class="control-label" data-translate="gestionaotApp.amodiataire.nomSociete" for="field_nomSociete">Nom Societe</label>  <br /> -->
                                <input type="text" class="form-control" name="nomSociete" id="field_nomSociete"
                                       ng-model="vm.filter.nomSociete"
                                       placeholder="{{ 'gestionaotApp.amodiataire.nomSociete' | translate}}"/>
                            </div>

                            <div class="form-group col-md-2">
                                <!-- <label class="control-label" data-translate="gestionaotApp.amodiataire.numeroAutorisation" for="field_numeroAutorisation">Numero Autorisation</label>  <br /> -->
                                <input type="text" class="form-control" name="numeroAutorisation"
                                       id="field_numeroAutorisation"
                                       ng-model="vm.filter.numeroAutorisation"
                                       placeholder="{{ 'gestionaotApp.amodiataire.numeroAutorisation' | translate}}"/>
                            </div>


                            <div class="form-group col-md-2">
                                <!-- <label class="control-label" data-translate="gestionaotApp.amodiataire.niu" for="field_niu">NIU</label>  <br /> -->
                                <input type="text" class="form-control" name="niu" id="field_niu"
                                       ng-model="vm.filter.niu"
                                       placeholder="{{ 'gestionaotApp.amodiataire.niu' | translate}}"/>
                            </div>

                            <!-- <div class="form-group col-md-3">
                                <label class="control-label" data-translate="gestionaotApp.amodiataire.numeroTelephone" for="field_numeroTelephone">Numero Telephone</label>  <br />
                                <input type="text" class="form-control" name="numeroTelephone" id="field_numeroTelephone"
                                        ng-model="vm.filter.numeroTelephone" placeholder="{{ 'gestionaotApp.amodiataire.numeroTelephone' | translate}}"/>
                            </div>
                             -->

                            <!-- <div class="form-group col-md-1">
                                <select class="form-control" name="year" id="field_year" ng-model="vm.filter.year"
                                        ng-options="y for y in vm.years">
                                    <option selected="selected" value="">Annee</option>
                                </select>
                            </div> -->

                            <div class="form-group col-md-2" has-any-authority="ROLE_LISTER_STATUT,ROLE_ADMIN">
                                <select class="form-control" name="statut" id="statut"
                                        ng-model="vm.filter.statut">
                                    <option selected="selected" value="EN_ATTENTE">Select Status</option>
                                    <option value="VALIDE">VALIDE</option>
                                    <option value="EN_ATTENTE">EN ATTENTE</option>
                                    <option value="ANNULER">ANNULER</option>
                                </select>
                            </div>
                            <!--                     <div class="form-group col-md-3">
                                                    <label class="control-label" data-translate="gestionaotApp.amodiataire.rccm" for="field_rccm">RCCM</label>  <br />
                                                    <input type="text" class="form-control" name="rccm" id="field_rccm"
                                                            ng-model="vm.filter.rccm" placeholder="{{ 'gestionaotApp.amodiataire.rccm' | translate}}"/>
                                                </div> -->

                            <div class="form-group col-md-3 col-md-offset-1 pull-right">
                                <!-- <label class="control-label"></label> </br> -->
                                <button type="submit" class="btn btn-primary" ng-disabled="vm.isSearching">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;
                                    <span data-translate="entity.action.search">Search</span>
                                </button>

                                <button type="reset" class="btn" ng-click="vm.reset()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                                    <span data-translate="entity.action.reset">Reset</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- <hr/> -->


        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="no-margin">
        <table class="table table-responsive text-center ">
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-block btn-primary btn-sm" ng-click="vm.viewType = 'list'">
                        <span data-translate="gestionaotApp.amodiataire.home.list">LIST</span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-block btn-warning btn-sm" ng-click="vm.viewType = 'map'">
                        <span data-translate="gestionaotApp.amodiataire.home.map">MAP</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="vm.viewType === 'list'" class="box box-primary">  <!--fullscreen="vm.isFullscreen"-->

        <div class="box-header with-border">
            <div class="row m-t-b-10">
                <div class="col-xs-4 col-md-3">
                    <button class="btn btn-primary btn-block" ui-sref="amodiataire.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="gestionaotApp.amodiataire.home.createLabel"> Create new Amodiataire
						</span>
                    </button>
                </div>

                <!--<div class="col-xs-8 col-md-6 col-md-offset-3">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group pull-right">
                            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                                   placeholder="{{ 'gestaotApp.amodiataire.home.search' | translate }}">
                            <span class="input-group-btn width-min">
                                <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                                <button class="btn btn-info" ng-click="vm.clear()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
        <div class="box-body">

            <!--<div class="row">
                <div class="col-md-12">
                    <button ng-click="vm.viewType = 'list'"><span
                        data-translate="gestionaotApp.amodiataire.home.list">List</span></button>
                    |
                    <button ng-click="vm.viewType = 'map'"></button>

                    <button class="btn btn-success pull-right" ng-if="vm.viewType === 'map' && !vm.isFullscreen"
                            ng-click="vm.goFullscreen();"><span class="glyphicon glyphicon-resize-full"></span>
                    </button>
                    <button class="btn btn-success pull-right" ng-if="vm.viewType === 'map' && vm.isFullscreen"
                            ng-click="vm.goFullscreen();"><span class="glyphicon glyphicon-resize-small"></span>
                    </button>
                </div>
            </div>-->

            <div class="table-responsive ">
                <table class="jh-table table table-striped table-hover table-bordered">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="nomSociete"><span data-translate="gestionaotApp.amodiataire.nomSociete">Nom Societe</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="niu"><span data-translate="gestionaotApp.amodiataire.niu">Niu</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dateSignature"><span
                            data-translate="gestionaotApp.amodiataire.dateSignature">Date Delivrance</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="amodiataire in vm.amodiataires track by amodiataire.id">
                        <td><a ui-sref="amodiataire-detail({id:amodiataire.id})">{{amodiataire.id}}</a></td>
                        <td>{{amodiataire.nomSociete}}</td>
                        <td>{{amodiataire.niu}}</td>
                        <td>{{amodiataire.dateSignature | date:'mediumDate'}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="amodiataire-detail({id:amodiataire.id})"
                                        class="btn btn-info btn-sm" title="Details Amodiataire">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.view"></span> -->
                                </button>
                                <button has-any-authority="MODIFIER_AOT,GERER_AOT" type="submit"
                                        ui-sref="amodiataire.edit({id:amodiataire.id})"
                                        class="btn btn-primary btn-sm" title="Modifier Amodiataire">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.edit"></span> -->
                                </button>

                                <button type="submit" has-any-authority="SUPPRIMER_AOT,GERER_AOT"
                                        ui-sref="amodiataire.annuler({id:amodiataire.id})"
                                        class="btn btn-warning btn-sm" title="Annuler Amodiataire">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.delete"></span> -->
                                </button>
                                <button type="submit" has-any-authority="SUPPRIMER_AOT,GERER_AOT"
                                        ui-sref="amodiataire.delete({id:amodiataire.id})"
                                        class="btn btn-danger btn-sm" title="Supprimer Amodiataire">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.delete"></span> -->
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="">
                    <div class="col-md-6">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination style="margin: 0;" class="pagination-sm pull-right"
                                        total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>

            </div>
            <!--<div ng-show="vm.viewType === 'map'">
                <openlayers custom-layers="true" ng-style="{height: vm.screenHeight}" ol-center="center"
                            ol-defaults="defaults" ol-view="view" height="80%">
                    <ol-layer ol-layer-properties="customLayer"></ol-layer>
                    <ol-layer ol-layer-properties="layer" ng-repeat="layer in layers"></ol-layer>
                    <ol-marker ol-marker-properties="marker" ng-if="markers && markers.length > 0"
                               ng-repeat="marker in markers"></ol-marker>
                </openlayers>
            </div>-->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    </div>
    <div ng-show="vm.viewType === 'map'" class="box box-primary">
        <openlayers custom-layers="true" ng-style="{height: vm.screenHeight, width: vm.screenWidth}" ol-center="center"
                    ol-defaults="defaults" ol-view="view" height="100%">
            <ol-control name="{{ control.name }}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
            <ol-layer ol-layer-properties="customLayer"></ol-layer>
            <ol-layer ol-layer-properties="layer" ng-repeat="layer in layers"></ol-layer>
            <ol-marker ol-marker-properties="marker" ng-if="markers && markers.length > 0"
                       ng-repeat="marker in markers"></ol-marker>
        </openlayers>
    </div>
    <!-- Amodiataires en Attentes -->

    <div ng-if="vm.amodiataireAttentes && vm.amodiataireAttentes.length >= 1" class="box box-primary">

        <div class="box-body">
            <div ng-show="vm.viewType === 'list'" class="table-responsive ">
                <table class="jh-table table table-striped table-hover table-bordered">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="nomSociete"><span
                            data-translate="gestionaotApp.amodiataire.nomSociete">Nom Societe</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="niu"><span data-translate="gestionaotApp.amodiataire.niu">Niu</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dateSignature"><span data-translate="gestionaotApp.amodiataire.dateSignature">Date Delivrance</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="amodiataire in vm.amodiataireAttentes track by amodiataire.id">
                        <td><a ui-sref="amodiataire-detail({id:amodiataire.id})">{{amodiataire.id}}</a></td>
                        <td>{{amodiataire.nomSociete}}</td>
                        <td>{{amodiataire.niu}}</td>
                        <td>{{amodiataire.dateSignature | date:'mediumDate'}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="amodiataire-detail({id:amodiataire.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.view"></span> -->
                                </button>
                                <button type="submit"
                                        ui-sref="amodiataire.edit({id:amodiataire.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.edit"></span> -->
                                </button>
                                <button type="submit"
                                        ui-sref="amodiataire.delete({id:amodiataire.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <!-- <span class="hidden-sm-down" data-translate="entity.action.delete"></span> -->
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="">
                    <div class="col-md-6">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination style="margin: 0;" class="pagination-sm pull-right" total-items="vm.totalItems"
                                        items-per-page="vm.itemsPerPage" ng-model="vm.page"
                                        ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>
