<section class="content-header">
    <h1><span data-translate="gestionaotApp.amodiataire.detail.title">Amodiataire</span> [<b>{{vm.amodiataire.nomSociete}}</b>]
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="amodiataire-detail" data-translate="global.menu.entities.amodiataire"> Aot</a></li>
        <li><a>Details</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row margin">
                <span ng-if="vm.validate" class="col-md-1"><button class="btn btn-warning" ng-click="vm.validerAot();">Valider</button></span>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span
                            data-translate="gestionaotApp.amodiataire.numeroAutorisation">Numero Autorisation</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.numeroAutorisation}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.nomSociete">Nom Societe</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.nomSociete}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.bp">Bp</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.bp}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.ville">Ville</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.ville}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.numeroTelephone">Numero Telephone</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.numeroTelephone}}</span>
                        </dd>
                        <dt style="white-space: normal;"><span data-translate="gestionaotApp.amodiataire.niu">Niu</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.niu}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.rccm">Rccm</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.rccm}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.superficie">Superficie</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.superficie}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.duree">Duree</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.duree}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.tarifHorsTaxe">Tarif Hors Taxe</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.tarifHorsTaxe | currency:'':0}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span
                            data-translate="gestionaotApp.amodiataire.montantTrimestrielHT">Montant Trimestriel HT</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.montantTrimestrielHT | currency:'':0}}</span>
                        </dd>
                        <dt><span
                            data-translate="gestionaotApp.amodiataire.montantTrimestrielTTC">Montant Trimestriel TTC</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.montantTrimestrielTTC | currency:'':0}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.montantCaution">Montant Caution</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.montantCaution | currency:'':0}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.amodiataire.dateSouscription">Date Delivrance</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.dateSouscription | date:'mediumDate'}}</span>
                        </dd>

                        <dt><span data-translate="gestionaotApp.amodiataire.dateEcheance">Date Echeance</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.dateEcheance | date:'mediumDate'}}</span>
                        </dd>

                        <!-- added fields -->
                        <dt><span data-translate="gestionaotApp.amodiataire.maitriseCaution">Maitrise Caution</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.maitriseCaution}}</span>
                        </dd>

                        <dt><span data-translate="gestionaotApp.amodiataire.dateCaution">Date Caution</span></dt>
                        <dd>
                            <span>{{vm.amodiataire.dateCaution | date:'mediumDate'}}</span>
                        </dd>

                        <dt><span
                            data-translate="gestionaotApp.amodiataire.nomSignataireAOT">Nom Signataire AOT</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.nomSignataireAOT}}</span>
                        </dd>

                        <dt><span data-translate="gestionaotApp.amodiataire.dateSignature">Date Signature</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.dateSignature | date:'mediumDate'}}</span>
                        </dd>

                        <dt><span data-translate="gestionaotApp.amodiataire.dateExpiration">Date Expiration</span>
                        </dt>
                        <dd>
                            <span>{{vm.amodiataire.dateExpiration | date:'mediumDate'}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <!-- Show the map -->
                    <!--<leaflet center="center" defaults="defaults" width="100%" height="480px"></leaflet>-->
                    <openlayers custom-layers="true" ng-style="mapStyle" ol-center="center" ol-defaults="defaults"
                                ol-view="view" height="550px">
                        <ol-layer ol-layer-properties="customLayer"></ol-layer>
                        <ol-layer ol-layer-properties="geoData"></ol-layer>
                        <ol-marker ol-marker-properties="marker" ng-if="marker"></ol-marker>
                    </openlayers>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" ui-sref="{{ vm.previousState.name }}({{vm.previousState.params}})"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    ui-sref="amodiataire.edit({id:vm.amodiataire.id})"
                    class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span> <span
                class="hidden-sm-down" data-translate="entity.action.edit">
					Edit</span>
            </button>

            <!--<button type="submit"
                    ui-sref="{{ vm.previousState }}"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                data-translate="entity.action.back"> Back</span>
            </button>

            <button type="button" ng-if="!vm.validate" ui-sref="amodiataire-detail.edit({id:vm.amodiataire.id})"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
            </button>-->
        </div>
    </div>
</section>
