<div>
	<p class="input-group">
    	<span><img src="assets/images/logo1-default-small.png" alt="Logo"></span>
    	<h2 translate="gestionaotApp.amodiataire.releve.title">Releve Client</h2>
    </p>
	
	<!--  
	<div class="row">
    
        <div class="col-md-5">
        	<br>            
        	
            <p class="input-group">
                <label translate="balancegApp.client.releve.selectClient" for="field_client">Selectionner un client</label>
	            <select class="form-control" id="field_client" name="client" ng-change="onChangeClient()" 
	            ng-model="selectedClient" ng-options="client as client.ref + ' - ' + client.nom for client in clients">
	                <option value=""></option>
	            </select>
            </p>
        </div>
    </div>
    -->
    
    <hr>
    
	<div>
	 	 <div class="form-group row">	        
		        <!-- <div class="col-md-6" >
		            <p class="input-group">		            
			            <span  class="input-group-addon" translate="global.field.id">ID</span>
			            <input type="text" class="form-control" id="id" name="id" ng-model="selectedClient.id" readonly />
		            </p>		            
	            </div> -->
	            <div class="col-md-4">    
	            	 <p class="input-group"> 
			            <label class="input-group-addon control-label" translate="gestionaotApp.amodiataire.niu" for="field_ref">Ref</label>
			            <input type="text" class="form-control" name="ref" id="field_ref" ng-model="selectedClient.niu" required readonly />
		             </p>
		        </div>
		         <div class="col-md-4">
		        	<p class="input-group">		
		            <label class="input-group-addon" for="nom" translate="gestionaotApp.amodiataire.nomSociete">nom</label>
		            <input type="text" class="form-control" id="nom" name="nom" ng-model="selectedClient.nomSociete" readonly />
		            </p>
	            </div>
	            <!-- 
	            <div class="col-md-4">    
	            	<p class="input-group">	 
		            <label class="input-group-addon control-label " translate="balancegApp.client.nomContact" for="field_ref">Nom Contact</label>
		            <input type="text" class="form-control" name="ref" id="field_ref" ng-model="selectedClient.nomContact" readonly />
		            </p>
		        </div> -->
	     </div>
	    
     </div>
     
    

	<legend>Liste des Factures </legend>
    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th width="10%" ng-click="predicate = 'ref'; reverse=!reverse"><span translate="balancegApp.facture.ref">Ref</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="25%" ng-click="predicate = 'libelle'; reverse=!reverse"><span translate="balancegApp.facture.libelle">Libelle</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="12%" ng-click="predicate = 'dateFacture'; reverse=!reverse"><span translate="balancegApp.facture.dateFacture">DateFacture</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="12%" ng-click="predicate = 'dateEcheance'; reverse=!reverse"><span translate="balancegApp.facture.dateEcheance">DateEcheance</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="8%" ng-click="predicate = 'retard'; reverse=!reverse"><span translate="balancegApp.facture.retard">Retard</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="11%" ng-click="predicate = 'montant'; reverse=!reverse"><span translate="balancegApp.facture.montant">Montant</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="11%" ng-click="predicate = 'montantRegle'; reverse=!reverse"><span translate="balancegApp.facture.montantRegle">Montant Regle</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th width="11%" ng-click="predicate = 'estRegle'; reverse=!reverse"><span translate="balancegApp.facture.estRegle">Est Reglee</span> <span class="glyphicon glyphicon-sort"></span></th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="facture in factures | filter:filter | orderBy:predicate:reverse" ng-hide="facture.filtered">
                <td><a ui-sref="facture.detail({id:facture.id})">{{facture.ref}}</a></td>
                <td>{{facture.libelle}}</td>
                <td align="right">{{facture.dateFacture | date:'mediumDate'}}</td>
                <td align="right">{{facture.dateEcheance | date:'mediumDate'}}</td>
                <td align="center">{{dayRetard(facture.dateEcheance)}}</td>
                <td align="right">{{facture.montant  | currency:'':0}}</td>
                <td align="right">{{facture.montantRegle  | currency:'':0}}</td>
               
                <td>
                	<span class="label label-danger"ng-show="!facture.estRegle"
                       style="cursor: pointer;">NON</span>
                	<span class="label label-success" ng-show="facture.estRegle"
                       style="cursor: pointer;">OUI</span> 
                </td>               
            </tr>
        
           <tr >
                <th></th>
                <th>Total : </th>
                <th align="right"></th>
                <th align="right"></th>
                <th align="center"></th>
               	<th style="text-align:right">{{getTotalMontantFacture()  | currency:'':0}}</th>
                <th style="text-align:right">{{getTotalMontantRegle()  | currency:'':0}}</th>
               
                <th>      	
                </th>               
            </tr>  
			<tr >
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right" translate="gestionaotApp.amodiataire.releve.solde">Solde : </th>
               
                <th style="text-align:right"><label >{{getSolde() | currency:'':0}}</label></th>               
            </tr>      
        </tbody>        
    </table>
    
   <!--  <label>Solde : </label><label class="label label-warning">{{getSolde() | currency:'':0}}</label> -->
    <hr>
    
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info" ng-click="history.back()">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <button type="submit"
            onclick="window.print()"
            class="btn btn-primary" >
        <span class="glyphicon glyphicon-print"></span>&nbsp;<span translate="entity.action.print"> Imprimer</span>
    </button>
</div>
