<div>
    <h2 translate="balanceg.title">Balance Agee</h2>

    <div class="row">
        <div class="col-md-5">
            <h4 translate="balanceg.filter.title">Filter by date</h4>
                 <div class="input-group">
		                <span class="input-group-addon" translate="balanceg.filter.date">Date du jour</span>
	                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" uib-datepicker-popup="{{dateformat}}"
	                        ng-model="fromDate" is-open="datePickerOpenStatus.fromDate" ng-change="onChangeDate();"
	                        />
	                        <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="openCalendar('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
	                        </span>
	                    </div>
        </div>
    </div>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th width="35%" ng-click="predicate = 'client'; reverse=!reverse"><span translate="balanceg.table.header.client">Client</span></th>
            <th width="10%" ng-click="predicate = 'nonEchu.montant'; reverse=!reverse"><span translate="balanceg.table.header.nonechu">Non Echu</span></th>
            <th width="10%" ng-click="predicate = 'echuIntervalUn.montant'; reverse=!reverse"><span translate="balanceg.table.header.echuIntervalUn">[0 - 03] Mois</span></th>
            <th width="10%" ng-click="predicate = 'echuIntervalDeux.montant'; reverse=!reverse"><span translate="balanceg.table.header.echuIntervalDeux">[03 - 06] Mois</span></th>
            <th width="10%" ng-click="predicate = 'echuIntervalTrois.montant'; reverse=!reverse"><span translate="balanceg.table.header.echuIntervalTrois">[06 - 09] Mois</span></th>
            <th width="10%" ng-click="predicate = 'echuIntervalTroisEtPlus.montant'; reverse=!reverse"><span translate="balanceg.table.header.echuIntervalTroisEtPlus">[09 - + ] Mois</span></th>
            <th width="15%" ng-click="predicate = 'totalEncour.montant'; reverse=!reverse"><span translate="balanceg.table.header.totalencour">Encours Total</span></th>

        </tr>
        </thead>
		<tbody>
        <tr ng-repeat="balancegitem in balancegitems | filter:filter | orderBy:predicate:reverse" ng-hide="balancegitem.filtered">
            <td><span><a ui-sref="amodiataire.releve({id:balancegitem.clientId})">{{balancegitem.client}}</a> </span></td>
            <td align="right"><small>{{balancegitem.nonEchu.montant | currency:'':0}} <br>( Nb. {{balancegitem.nonEchu.nombre}} )</small></td>
            <td align="right"><small>{{balancegitem.echuIntervalUn.montant | currency:'':0}} <br>( Nb. {{balancegitem.echuIntervalUn.nombre}} )</small></td>
            <td align="right"><small>{{balancegitem.echuIntervalDeux.montant | currency:'':0}}<br>( Nb. {{balancegitem.echuIntervalDeux.nombre}} )</small></td>
            <td align="right"><small>{{balancegitem.echuIntervalTrois.montant | currency:'':0}}<br>( Nb. {{balancegitem.echuIntervalTrois.nombre}} )</small></td>
            <td align="right"><small>{{balancegitem.echuIntervalTroisEtPlus.montant | currency:"":0:" "}}<br>( Nb. {{balancegitem.echuIntervalTroisEtPlus.nombre}} )</small></td>
            <td align="right"><span>{{balancegitem.totalEncour.montant | currency:"":0:" "}}<br>( Nb. {{balancegitem.totalEncour.nombre}} )</span></td>

        </tr>


        <tr>
            <th class="text-right"><span>Total : </span></th>
            <th class="text-right"><small>{{balancegtotal.nonEchu.montant | currency:'':0}} <br>( Nb. {{balancegtotal.nonEchu.nombre}} )</small></th>
            <th class="text-right"><small>{{balancegtotal.echuIntervalUn.montant | currency:'':0}} <br>( Nb. {{balancegtotal.echuIntervalUn.nombre}} )</small></th>
            <th class="text-right"><small>{{balancegtotal.echuIntervalDeux.montant | currency:'':0}}<br>( Nb. {{balancegtotal.echuIntervalDeux.nombre}} )</small></th>
            <th class="text-right"><small>{{balancegtotal.echuIntervalTrois.montant | currency:'':0}}<br>( Nb. {{balancegtotal.echuIntervalTrois.nombre}} )</small></th>
            <th class="text-right"><small>{{balancegtotal.echuIntervalTroisEtPlus.montant | currency:"FCFA"}}<br>( Nb. {{balancegtotal.echuIntervalTroisEtPlus.nombre}} )</small></th>
            <th class="text-right"><span>{{balancegtotal.totalEncour.montant | currency:"":0:" "}}<br>( Nb. {{balancegtotal.totalEncour.nombre}} )</span></th>
        </tr>
        </tbody>


    </table>
    <button type="submit"
            ng-if="!isPrinting"
            ng-click="printPage();"
            class="btn btn-primary" >
        <span class="glyphicon glyphicon-print"></span>&nbsp;<span translate="entity.action.print"> Imprimer</span>
    </button>
</div>
