<section class="content-header">
    <h1 data-translate="gestionaotApp.task.home.title">Tasks</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span></a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="gestionaotApp.task.home.title"> Factures</a></li>
    </ol>
</section>

<!-- Main content -->
<jhi-alert></jhi-alert>
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="box box-primary">
            <div class="box-header with-border">
                <!--<div class="row m-t-b-10">
                    <div class="col-xs-4 col-md-2">
                        <button class="btn btn-primary btn-block" ui-sref="task.new">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="gestionaotApp.task.home.createLabel"> Create a
								new One
						</span>
                        </button>
                    </div>
                </div>-->
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="action"><span data-translate="gestionaotApp.task.action">Action</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="entityName"><span data-translate="gestionaotApp.task.entityName">Entity Name</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="description"><span data-translate="gestionaotApp.task.description">Description</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="status"><span data-translate="gestionaotApp.task.status">Status</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="lastStatusDate"><span data-translate="gestionaotApp.task.lastStatusDate">Last Status Date</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="creator.id"><span data-translate="gestionaotApp.task.creator">Creator</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="assignee.id"><span data-translate="gestionaotApp.task.assignee">Assignee</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in vm.tasks track by task.id">
                            <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                            <td data-translate="{{'gestionaotApp.TaskAction.' + task.action}}" class="label label-default">
                                {{task.action}}
                            </td>
                            <td>{{task.entityName}}</td>
                            <td>{{task.description}}</td>
                            <td data-translate="{{'gestionaotApp.TaskStatus.' + task.status}}"
                                ng-class="{'text-green': task.status == 'EXECUTED', 'text-yellow': task.status == 'NEW'}">
                                {{task.status}}
                            </td>
                            <td>{{task.lastStatusDate | date:'medium'}}</td>
                            <td>
                                {{task.creator.login}}
                            </td>
                            <td>
                                {{task.assignee.login}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="task-detail({id:task.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>


                                    <button ng-if="task.status == 'NEW'" type="button"
                                            ng-click="vm.execute(task);"
                                            class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
                                    </button>

                                    <button type="submit"
                                            ui-sref="task.edit({id:task.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="task.delete({id:task.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clear-fix">
                <div class="row">
                    <div class="col-md-6 m-t-5">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination
                            class="pagination pagination-sm no-margin pull-right"
                            total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>


<!--=======================================================================================================================================-->

<!--<div>
    <h2 data-translate="gestionaotApp.task.home.title">Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="gestionaotApp.task.home.createLabel">
                        Create new Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="action"><span data-translate="gestionaotApp.task.action">Action</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="entityName"><span data-translate="gestionaotApp.task.entityName">Entity Name</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="description"><span data-translate="gestionaotApp.task.description">Description</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status"><span data-translate="gestionaotApp.task.status">Status</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastStatusDate"><span data-translate="gestionaotApp.task.lastStatusDate">Last Status Date</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="creator.id"><span data-translate="gestionaotApp.task.creator">Creator</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="assignee.id"><span data-translate="gestionaotApp.task.assignee">Assignee</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in vm.tasks track by task.id">
                <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                <td data-translate="{{'gestionaotApp.TaskAction.' + task.action}}" class="label label-default">
                    {{task.action}}
                </td>
                <td>{{task.entityName}}</td>
                <td>{{task.description}}</td>
                <td data-translate="{{'gestionaotApp.TaskStatus.' + task.status}}"
                    ng-class="{'text-green': task.status == 'EXECUTED', 'text-yellow': task.status == 'NEW'}">
                    {{task.status}}
                </td>
                <td>{{task.lastStatusDate | date:'medium'}}</td>
                <td>
                    {{task.creator.login}}
                </td>
                <td>
                    {{task.assignee.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="task-detail({id:task.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>


                        <button ng-if="task.status == 'NEW'" type="button"
                                ng-click="vm.execute(task);"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
                        </button>

                        <button type="submit"
                                ui-sref="task.edit({id:task.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="task.delete({id:task.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>-->
