<section class="content-header">
    <h1><span data-translate="gestionaotApp.task.detail.title">Factures</span> [<b>{{task.entityId}}</b>]</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="facture-detail" data-translate="global.menu.entities.task"> Facture</a></li>
        <li><a>Details</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span data-translate="gestionaotApp.task.action">Action</span></dt>
                        <dd>
                            <span
                                data-translate="{{'gestionaotApp.TaskAction.' + vm.task.action}}">{{vm.task.action}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.entityId">Entity Id</span></dt>
                        <dd>
                            <span>{{vm.task.entityId}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.entityName">Entity Name</span></dt>
                        <dd>
                            <span>{{vm.task.entityName}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.description">Description</span></dt>
                        <dd>
                            <span>{{vm.task.description}}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span data-translate="gestionaotApp.task.status">Status</span></dt>
                        <dd>
                            <span
                                ng-class="{'text-green': vm.task.status == 'EXECUTED', 'text-yellow': vm.task.status == 'NEW'}"
                                data-translate="{{'gestionaotApp.TaskStatus.' + vm.task.status}}">{{vm.task.status}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.lastStatusDate">Last Status Date</span></dt>
                        <dd>
                            <span>{{vm.task.lastStatusDate | date:'medium'}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.creator">Creator</span></dt>
                        <dd>
                            {{vm.task.creator.id}}
                        </dd>
                        <dt><span data-translate="gestionaotApp.task.assignee">Assignee</span></dt>
                        <dd>
                            {{vm.task.assignee.id}}
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="box-footer">


                <button type="submit" ui-sref="{{ vm.previousState.name }}({{vm.previousState.params}})"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                    data-translate="entity.action.back"> Back</span>
                </button>

                <button type="button" ui-sref="task.edit({id:vm.task.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                </button>

                <button ng-if="vm.task.status == 'NEW'" type="button"
                        ng-click="vm.execute(vm.task);"
                        class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!--<div>
    <h2><span data-translate="gestionaotApp.task.detail.title">Task</span> {{vm.task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestionaotApp.task.action">Action</span></dt>
        <dd>
            <span data-translate="{{'gestionaotApp.TaskAction.' + vm.task.action}}">{{vm.task.action}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.entityId">Entity Id</span></dt>
        <dd>
            <span>{{vm.task.entityId}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.entityName">Entity Name</span></dt>
        <dd>
            <span>{{vm.task.entityName}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.description">Description</span></dt>
        <dd>
            <span>{{vm.task.description}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.status">Status</span></dt>
        <dd>
            <span ng-class="{'text-green': vm.task.status == 'EXECUTED', 'text-yellow': vm.task.status == 'NEW'}" data-translate="{{'gestionaotApp.TaskStatus.' + vm.task.status}}">{{vm.task.status}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.lastStatusDate">Last Status Date</span></dt>
        <dd>
            <span>{{vm.task.lastStatusDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.task.creator">Creator</span></dt>
        <dd>
            {{vm.task.creator.id}}
        </dd>
        <dt><span data-translate="gestionaotApp.task.assignee">Assignee</span></dt>
        <dd>
            {{vm.task.assignee.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="task-detail.edit({id:vm.task.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>

	<button ng-if="vm.task.status == 'NEW'" type="button"
			ng-click="vm.execute(vm.task);"
	        class="btn btn-success">
	    <span class="glyphicon glyphicon-ok"></span>
	    <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
	</button>
</div>-->
