<section class="content-header">
    <h1 data-translate="gestionaotApp.point.home.title">Points</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span></a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="gestionaotApp.point.home.title"> Points</a></li>
    </ol>
</section>

<!-- Main content -->
<jhi-alert></jhi-alert>
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="box box-primary">
            <div class="box-header with-border">
                <!--<div class="row m-t-b-10">
                    <div class="col-xs-4 col-md-2">
                        <button class="btn btn-primary btn-block" ui-sref="point.new">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="gestionaotApp.point.home.createLabel"> Create a
								new One
						</span>
                        </button>
                    </div>
                </div>-->
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped table-hover table-bordered">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="lat"><span data-translate="gestionaotApp.point.lat">Lat</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="lng"><span data-translate="gestionaotApp.point.lng">Lng</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="amodiataire.id"><span data-translate="gestionaotApp.point.amodiataire">Amodiataire</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="point in vm.points track by point.id">
                            <td><a ui-sref="point-detail({id:point.id})">{{point.id}}</a></td>
                            <td>{{point.lat}}</td>
                            <td>{{point.lng}}</td>
                            <td>
                                <a ui-sref="amodiataire-detail({id:point.amodiataire.id})">{{point.amodiataire.id}}</a>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="point-detail({id:point.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="point.edit({id:point.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="point.delete({id:point.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clear-fix">
                <div class="row">
                    <div class="col-md-6 m-t-5">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination
                            class="pagination pagination-sm no-margin pull-right"
                            total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<!--
<div>
    <h2 data-translate="gestionaotApp.point.home.title">Points</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        &lt;!&ndash;<div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="point.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestionaotApp.point.home.createLabel">
                        Create new Point
                    </span>
                </button>
            </div>
        </div>&ndash;&gt;
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lat"><span data-translate="gestionaotApp.point.lat">Lat</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lng"><span data-translate="gestionaotApp.point.lng">Lng</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="amodiataire.id"><span
                    data-translate="gestionaotApp.point.amodiataire">Amodiataire</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="point in vm.points track by point.id">
                <td><a ui-sref="point-detail({id:point.id})">{{point.id}}</a></td>
                <td>{{point.lat}}</td>
                <td>{{point.lng}}</td>
                <td>
                    <a ui-sref="amodiataire-detail({id:point.amodiataire.id})">{{point.amodiataire.id}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="point-detail({id:point.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="point.edit({id:point.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="point.delete({id:point.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
-->
