
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPointLabel" data-translate="gestionaotApp.point.home.createOrEditLabel">Create or edit a Point</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.point.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.point.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.point.lat" for="field_lat">Lat</label>
            <input type="number" class="form-control" name="lat" id="field_lat"
                    ng-model="vm.point.lat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.point.lng" for="field_lng">Lng</label>
            <input type="number" class="form-control" name="lng" id="field_lng"
                    ng-model="vm.point.lng"
                    />
        </div>

        <div class="form-group">
            <label data-translate="gestionaotApp.point.amodiataire" for="field_amodiataire">Amodiataire</label>
            <select class="form-control" id="field_amodiataire" name="amodiataire" ng-model="vm.point.amodiataire" ng-options="amodiataire as amodiataire.nomSociete for amodiataire in vm.amodiataires track by amodiataire.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
