<section class="content-header">
	<h1>
		<span data-translate="gestionaotApp.point.detail.title">Factures</span>
		[<b>{{task.entityId}}</b>]
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span
				data-translate="global.menu.home">Home</span> </a></li>
		<li><a ui-sref="facture-detail"
			data-translate="global.menu.entities.point"> Facture</a></li>
		<li><a>Details</a></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="box box-primary">
		<div class="box-body">

			<div class="row">
				<div class="col-md-6">
					<jhi-alert-error></jhi-alert-error>
					<dl class="dl-horizontal jh-entity-details">
						<dt>
							<span data-translate="gestionaotApp.point.lat">Lat</span>
						</dt>
						<dd>
							<span>{{vm.point.lat}}</span>
						</dd>
						<dt>
							<span data-translate="gestionaotApp.point.lng">Lng</span>
						</dt>
						<dd>
							<span>{{vm.point.lng}}</span>
						</dd>
						<dt>
							<span data-translate="gestionaotApp.point.amodiataire">Amodiataire</span>
						</dt>
						<dd>
							<a ui-sref="amodiataire-detail({id:vm.point.amodiataire.id})">{{vm.point.amodiataire.id}}</a>
						</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="box-footer">
			<!-- <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>

            <button type="button" ui-sref="point-detail.edit({id:vm.point.id})" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
            </button>

            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
            </button> -->

			<button type="submit" ui-sref="{{ vm.previousState }}"
				class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
					data-translate="entity.action.back"> Back</span>
			</button>

			<button type="button" ui-sref="point.edit({id:vm.point.id})"
				class="btn btn-primary pull-right">
				<span class="glyphicon glyphicon-pencil"></span> <span
					class="hidden-sm-down" data-translate="entity.action.edit">
					Edit</span>
			</button>

			<!--  <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                data-translate="entity.action.save">Save</span>
            </button> -->
		</div>
	</div>
</section>


<!--<div>
    <h2><span data-translate="gestionaotApp.point.detail.title">Point</span> {{vm.point.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestionaotApp.point.lat">Lat</span></dt>
        <dd>
            <span>{{vm.point.lat}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.point.lng">Lng</span></dt>
        <dd>
            <span>{{vm.point.lng}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.point.amodiataire">Amodiataire</span></dt>
        <dd>
            <a ui-sref="amodiataire-detail({id:vm.point.amodiataire.id})">{{vm.point.amodiataire.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="point-detail.edit({id:vm.point.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>-->
