<section class="content-header">
    <h1 data-translate="gestionaotApp.echeance.home.title">Echéances</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span></a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="gestionaotApp.echeance.home.title"> Echéances</a></li>
    </ol>
</section>

<!-- Main content -->
<jhi-alert></jhi-alert>
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="row m-t-b-10">
                    <!--<div class="col-xs-4 col-md-2">
                        <button class="btn btn-primary btn-block" ui-sref="task.new">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="gestionaotApp.task.echeance.createLabel"> Create a
								new One
						</span>
                        </button>
                    </div>-->
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="idEcheancier"><span data-translate="gestionaotApp.echeance.idEcheancier">Echeancier</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="idAmodiataire"><span data-translate="gestionaotApp.echeance.idAmodiataire">Amodiataire</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="idFacture"><span data-translate="gestionaotApp.echeance.idFacture">Id Facture</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="ref"><span data-translate="gestionaotApp.echeance.ref">Ref</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="montanHT"><span
                                data-translate="gestionaotApp.echeance.montanHT">Montan HT</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="montant"><span
                                data-translate="gestionaotApp.echeance.montant">Montant</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="dateDebut"><span data-translate="gestionaotApp.echeance.dateDebut">Date Debut</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="dateFin"><span
                                data-translate="gestionaotApp.echeance.dateFin">Date Fin</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="idReglement"><span data-translate="gestionaotApp.echeance.idReglement">Id Reglement</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="estFacture"><span data-translate="gestionaotApp.echeance.estFacture">Est Facture</span>
                                <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="estRegle"><span
                                data-translate="gestionaotApp.echeance.estRegle">Est Regle</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th width="12%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="echeance in vm.echeances track by echeance.id">
                            <td><a ui-sref="echeance-detail({id:echeance.id})">{{echeance.id}}</a></td>
                            <!--<td>{{echeance.idEcheancier}}</td>-->
                            <td>{{echeance.refEcheancier}}</td>
                            <!--<td>{{echeance.idAmodiataire}}</td>-->
                            <td>{{echeance.nomSociete}}</td>
                            <!--<td>{{echeance.idFacture}}</td>-->
                            <td>{{echeance.refFacture}}</td>
                            <td>{{echeance.ref}}</td>
                            <td>{{echeance.montanHT}}</td>
                            <td>{{echeance.montant}}</td>
                            <td>{{echeance.dateDebut | date:'mediumDate'}}</td>
                            <td>{{echeance.dateFin | date:'mediumDate'}}</td>
                            <!--<td>{{echeance.idReglement}}</td>-->
                            <td>{{echeance.refReglement}}</td>
                            <td>{{echeance.estFacture}}</td>
                            <td>{{echeance.estRegle}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="echeance-detail({id:echeance.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                                    </button>
                                    <!-- <button type="submit"
                                            ui-sref="echeance.edit({id:echeance.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="echeance.delete({id:echeance.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button> -->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clear-fix">
                <div class="row">
                    <div class="col-md-6 m-t-5">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination
                            class="pagination pagination-sm no-margin pull-right"
                            total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>


<!--<div>
    <h2 data-translate="gestionaotApp.echeance.home.title">Echeances</h2>
    <jhi-alert></jhi-alert>
    &lt;!&ndash; <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="echeance.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestionaotApp.echeance.home.createLabel">
                        Create new Echeance
                    </span>
                </button>
            </div>
        </div>
    </div> &ndash;&gt;
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="idEcheancier"><span data-translate="gestionaotApp.echeance.idEcheancier">Id Echeancier</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="idAmodiataire"><span data-translate="gestionaotApp.echeance.idAmodiataire">Id Amodiataire</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="idFacture"><span
                    data-translate="gestionaotApp.echeance.idFacture">Id Facture</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="ref"><span data-translate="gestionaotApp.echeance.ref">Ref</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="montanHT"><span
                    data-translate="gestionaotApp.echeance.montanHT">Montan HT</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="montant"><span data-translate="gestionaotApp.echeance.montant">Montant</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateDebut"><span
                    data-translate="gestionaotApp.echeance.dateDebut">Date Debut</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateFin"><span data-translate="gestionaotApp.echeance.dateFin">Date Fin</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="idReglement"><span data-translate="gestionaotApp.echeance.idReglement">Id Reglement</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="estFacture"><span
                    data-translate="gestionaotApp.echeance.estFacture">Est Facture</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="estRegle"><span
                    data-translate="gestionaotApp.echeance.estRegle">Est Regle</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th width="12%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="echeance in vm.echeances track by echeance.id">
                <td><a ui-sref="echeance-detail({id:echeance.id})">{{echeance.id}}</a></td>
                &lt;!&ndash;<td>{{echeance.idEcheancier}}</td>&ndash;&gt;
                <td>{{echeance.refEcheancier}}</td>
                &lt;!&ndash;<td>{{echeance.idAmodiataire}}</td>&ndash;&gt;
                <td>{{echeance.nomSociete}}</td>
                &lt;!&ndash;<td>{{echeance.idFacture}}</td>&ndash;&gt;
                <td>{{echeance.refFacture}}</td>
                <td>{{echeance.ref}}</td>
                <td>{{echeance.montanHT}}</td>
                <td>{{echeance.montant}}</td>
                <td>{{echeance.dateDebut | date:'mediumDate'}}</td>
                <td>{{echeance.dateFin | date:'mediumDate'}}</td>
                &lt;!&ndash;<td>{{echeance.idReglement}}</td>&ndash;&gt;
                <td>{{echeance.refReglement}}</td>
                <td>{{echeance.estFacture}}</td>
                <td>{{echeance.estRegle}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="echeance-detail({id:echeance.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &lt;!&ndash;<span class="hidden-sm-down" data-translate="entity.action.view"></span>&ndash;&gt;
                        </button>
                        &lt;!&ndash; <button type="submit"
                                ui-sref="echeance.edit({id:echeance.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="echeance.delete({id:echeance.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button> &ndash;&gt;
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>-->
