<section class="content-header">
    <h1><span data-translate="gestionaotApp.echeance.detail.title">Factures</span> [<b>{{vm.echeance.id}}</b>]</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="facture-detail" data-translate="global.menu.entities.echeance"> Facture</a></li>
        <li><a>Details</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span data-translate="gestionaotApp.echeance.idEcheancier">Id Echeancier</span></dt>
                        <dd>
                            <span>{{vm.echeance.idEcheancier}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.idAmodiataire">Id Amodiataire</span></dt>
                        <dd>
                            <span>{{vm.echeance.idAmodiataire}} <span ng-if="vm.echeance.nomSociete"> <b>({{vm.echeance.nomSociete}})</b></span></span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.idFacture">Id Facture</span></dt>
                        <dd>
            <span>{{vm.echeance.idFacture}} <span
                ng-if="vm.echeance.refFacture"> <b>({{vm.echeance.refFacture}})</b></span></span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.ref">Ref</span></dt>
                        <dd>
                            <span>{{vm.echeance.ref}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.montanHT">Montan HT</span></dt>
                        <dd>
                            <span>{{vm.echeance.montanHT}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.montant">Montant</span></dt>
                        <dd>
                            <span>{{vm.echeance.montant}}</span>
                        </dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <dl class="dl-horizontal jh-entity-details">
                        <dt><span data-translate="gestionaotApp.echeance.dateDebut">Date Debut</span></dt>
                        <dd>
                            <span>{{vm.echeance.dateDebut | date:'mediumDate'}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.dateFin">Date Fin</span></dt>
                        <dd>
                            <span>{{vm.echeance.dateFin | date:'mediumDate'}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.idReglement">Id Reglement</span></dt>
                        <dd>
            <span>{{vm.echeance.idReglement}} <span
                ng-if="vm.echeance.refFacture"> <b>({{vm.echeance.refReglement}})</b></span></span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.estFacture">Est Facture</span></dt>
                        <dd>
                            <span>{{vm.echeance.estFacture}}</span>
                        </dd>
                        <dt><span data-translate="gestionaotApp.echeance.estRegle">Est Regle</span></dt>
                        <dd>
                            <span>{{vm.echeance.estRegle}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="box-footer">
           <!-- <button type="submit" ui-sref="{{ vm.previousState.name }}({{vm.previousState.params}})" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>-->

            <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>
        </div>

    </div>
</section>

<!--
<div>
    <h2><span data-translate="gestionaotApp.echeance.detail.title">Echeance</span> {{vm.echeance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestionaotApp.echeance.idEcheancier">Id Echeancier</span></dt>
        <dd>
            <span>{{vm.echeance.idEcheancier}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.idAmodiataire">Id Amodiataire</span></dt>
        <dd>
            <span>{{vm.echeance.idAmodiataire}} <span
                ng-if="vm.echeance.nomSociete"> <b>({{vm.echeance.nomSociete}})</b></span></span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.idFacture">Id Facture</span></dt>
        <dd>
            <span>{{vm.echeance.idFacture}} <span
                ng-if="vm.echeance.refFacture"> <b>({{vm.echeance.refFacture}})</b></span></span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.ref">Ref</span></dt>
        <dd>
            <span>{{vm.echeance.ref}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.montanHT">Montan HT</span></dt>
        <dd>
            <span>{{vm.echeance.montanHT}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.montant">Montant</span></dt>
        <dd>
            <span>{{vm.echeance.montant}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.dateDebut">Date Debut</span></dt>
        <dd>
            <span>{{vm.echeance.dateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{vm.echeance.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.idReglement">Id Reglement</span></dt>
        <dd>
            <span>{{vm.echeance.idReglement}} <span
                ng-if="vm.echeance.refFacture"> <b>({{vm.echeance.refReglement}})</b></span></span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.estFacture">Est Facture</span></dt>
        <dd>
            <span>{{vm.echeance.estFacture}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeance.estRegle">Est Regle</span></dt>
        <dd>
            <span>{{vm.echeance.estRegle}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    &lt;!&ndash; <button type="button" ui-sref="echeance-detail.edit({id:vm.echeance.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button> &ndash;&gt;
</div>-->
