
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEcheanceLabel" data-translate="gestionaotApp.echeance.home.createOrEditLabel">Create or edit a Echeance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.echeance.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.echeance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.idEcheancier" for="field_idEcheancier">Id Echeancier</label>
            <input type="number" class="form-control" name="idEcheancier" id="field_idEcheancier"
                    ng-model="vm.echeance.idEcheancier"
                    required/>
            <div ng-show="editForm.idEcheancier.$invalid">
                <p class="help-block"
                    ng-show="editForm.idEcheancier.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idEcheancier.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.idAmodiataire" for="field_idAmodiataire">Id Amodiataire</label>
            <input type="number" class="form-control" name="idAmodiataire" id="field_idAmodiataire"
                    ng-model="vm.echeance.idAmodiataire"
                    required/>
            <div ng-show="editForm.idAmodiataire.$invalid">
                <p class="help-block"
                    ng-show="editForm.idAmodiataire.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idAmodiataire.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.idFacture" for="field_idFacture">Id Facture</label>
            <input type="number" class="form-control" name="idFacture" id="field_idFacture"
                    ng-model="vm.echeance.idFacture"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.ref" for="field_ref">Ref</label>
            <input type="text" class="form-control" name="ref" id="field_ref"
                    ng-model="vm.echeance.ref"
                    required/>
            <div ng-show="editForm.ref.$invalid">
                <p class="help-block"
                    ng-show="editForm.ref.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.montanHT" for="field_montanHT">Montan HT</label>
            <input type="number" class="form-control" name="montanHT" id="field_montanHT"
                    ng-model="vm.echeance.montanHT"
                    required/>
            <div ng-show="editForm.montanHT.$invalid">
                <p class="help-block"
                    ng-show="editForm.montanHT.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.montanHT.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.echeance.montant"
                    required/>
            <div ng-show="editForm.montant.$invalid">
                <p class="help-block"
                    ng-show="editForm.montant.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.montant.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.dateDebut" for="field_dateDebut">Date Debut</label>
                <div class="input-group">
                    <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.echeance.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDebut.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDebut.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.echeance.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateFin.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateFin.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.idReglement" for="field_idReglement">Id Reglement</label>
            <input type="number" class="form-control" name="idReglement" id="field_idReglement"
                    ng-model="vm.echeance.idReglement"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.estFacture" for="field_estFacture">Est Facture</label>
                <input type="checkbox" name="estFacture" id="field_estFacture"
                          ng-model="vm.echeance.estFacture"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeance.estRegle" for="field_estRegle">Est Regle</label>
                <input type="checkbox" name="estRegle" id="field_estRegle"
                          ng-model="vm.echeance.estRegle"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
