<section class="content-header">

    <h1 data-translate="userManagement.home.title">Users</h1>
    <ol class="breadcrumb">
         <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="user-management" data-translate="userManagement.home.title"> Users</a></li>
    </ol>

</section>

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="row m-t-b-10">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" ui-sref="user-management.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="userManagement.home.createLabel"> Create a
								new User
						</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span><span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span>
                            <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span>
                            <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                        <th jh-sort-by="langKey"><span
                            data-translate="userManagement.langKey">Lang Key</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th><span data-translate="gestionaotApp.role.detail.title">Role</span></th>
                        <th jh-sort-by="createdDate"><span
                            data-translate="userManagement.createdDate">Created Date</span>
                            <span
                                class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedBy"><span
                            data-translate="userManagement.lastModifiedBy">Last Modified By</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="lastModifiedDate"><span
                            data-translate="userManagement.lastModifiedDate">Last Modified Date</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in vm.users track by user.id">
                        <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                        <td>{{user.login}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)"
                                    ng-show="!user.activated"
                                    data-translate="userManagement.deactivated">Deactivated
                            </button>
                            <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)"
                                    ng-show="user.activated"
                                    ng-disabled="vm.currentAccount.login==user.login"
                                    data-translate="userManagement.activated">
                                Activated
                            </button>
                        </td>
                        <td>{{user.langKey}}</td>
                        <td>
                            <a ui-sref="role-detail({id:user.role.id})"><span
                                class="label label-info">{{ user.role.name }}</span></a>
                            <!-- <div ng-repeat="authority in user.authorities">
                                <span class="label label-info">{{ authority }}</span>
                            </div> -->
                        </td>
                        <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                        <td>{{user.lastModifiedBy}}</td>
                        <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="user-management-detail({login:user.login})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm"
                                          data-translate="entity.action.view"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="user-management.edit({login:user.login})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm"
                                          data-translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="user-management.delete({login:user.login})"
                                        class="btn btn-danger btn-sm"
                                        ng-disabled="vm.currentAccount.login==user.login">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm"
                                          data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clear-fix">
            <div class="row">
                <div class="col-md-6 m-t-5">
                    <jhi-item-count page="vm.page" total="vm.queryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-md-6">
                    <uib-pagination
                        class="pagination pagination-sm no-margin pull-right"
                        total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div>
    <h2 data-translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ui-sref="user-management.new">
                <span class="glyphicon glyphicon-flash"></span> <span
                data-translate="userManagement.home.createLabel">Create a new User</span>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span><span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span>
                    <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span>
                    <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
                <th jh-sort-by="langKey"><span
                    data-translate="userManagement.langKey">Lang Key</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="gestionaotApp.role.detail.title">Role</span></th>
                <th jh-sort-by="createdDate"><span data-translate="userManagement.createdDate">Created Date</span>
                    <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedBy"><span
                    data-translate="userManagement.lastModifiedBy">Last Modified By</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedDate"><span
                    data-translate="userManagement.lastModifiedDate">Last Modified Date</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)"
                            ng-show="!user.activated"
                            data-translate="userManagement.deactivated">Deactivated
                    </button>
                    <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)"
                            ng-show="user.activated"
                            ng-disabled="vm.currentAccount.login==user.login"
                            data-translate="userManagement.activated">
                        Activated
                    </button>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <a ui-sref="role-detail({id:user.role.id})"><span
                        class="label label-info">{{ user.role.name }}</span></a>
                    &lt;!&ndash; <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div> &ndash;&gt;
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"
                                  data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"
                                  data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm"
                                ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"
                                  data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"
                        items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                        ng-change="vm.transition()"></uib-pagination>
    </div>
</div>-->
