
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel" data-translate="gestaotdemoApp.task.home.createOrEditLabel">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.task.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.task.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.action" for="field_action">Action</label>
            <select class="form-control" name="action" ng-model="vm.task.action" id="field_action" required>
                <option value="CREATE" data-translate="gestaotdemoApp.TaskAction.CREATE">CREATE</option>
                <option value="EDIT" data-translate="gestaotdemoApp.TaskAction.EDIT">EDIT</option>
                <option value="DELETE" data-translate="gestaotdemoApp.TaskAction.DELETE">DELETE</option>
                <option value="VALIDATE" data-translate="gestaotdemoApp.TaskAction.VALIDATE">VALIDATE</option>
                <option value="REDO" data-translate="gestaotdemoApp.TaskAction.REDO">REDO</option>
                <option value="UNDO" data-translate="gestaotdemoApp.TaskAction.UNDO">UNDO</option>
            </select>
            <div ng-show="editForm.action.$invalid">
                <p class="help-block"
                    ng-show="editForm.action.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.entityId" for="field_entityId">Entity Id</label>
            <input type="number" class="form-control" name="entityId" id="field_entityId"
                    ng-model="vm.task.entityId"
                    required/>
            <div ng-show="editForm.entityId.$invalid">
                <p class="help-block"
                    ng-show="editForm.entityId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.entityId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.entityName" for="field_entityName">Entity Name</label>
            <input type="text" class="form-control" name="entityName" id="field_entityName"
                    ng-model="vm.task.entityName"
                    required/>
            <div ng-show="editForm.entityName.$invalid">
                <p class="help-block"
                    ng-show="editForm.entityName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.task.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.task.status" id="field_status">
                <option value="NEW" data-translate="gestaotdemoApp.TaskStatus.NEW">NEW</option>
                <option value="SEEN" data-translate="gestaotdemoApp.TaskStatus.SEEN">SEEN</option>
                <option value="EXECUTED" data-translate="gestaotdemoApp.TaskStatus.EXECUTED">EXECUTED</option>
                <option value="CANCELED" data-translate="gestaotdemoApp.TaskStatus.CANCELED">CANCELED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestaotdemoApp.task.lastStatusDate" for="field_lastStatusDate">Last Status Date</label>
                <div class="input-group">
                    <input id="field_lastStatusDate" type="text" class="form-control" name="lastStatusDate" datetime-picker="{{dateformat}}" ng-model="vm.task.lastStatusDate" is-open="vm.datePickerOpenStatus.lastStatusDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastStatusDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="gestaotdemoApp.task.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.task.creator" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="gestaotdemoApp.task.assignee" for="field_assignee">Assignee</label>
            <select class="form-control" id="field_assignee" name="assignee" ng-model="vm.task.assignee" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
