<div>
    <h2 data-translate="gestaotdemoApp.task.home.title">Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestaotdemoApp.task.home.createLabel">
                        Create new Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="action"><span data-translate="gestaotdemoApp.task.action">Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entityName"><span data-translate="gestaotdemoApp.task.entityName">Entity Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="gestaotdemoApp.task.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="gestaotdemoApp.task.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastStatusDate"><span data-translate="gestaotdemoApp.task.lastStatusDate">Last Status Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creator.id"><span data-translate="gestaotdemoApp.task.creator">Creator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assignee.id"><span data-translate="gestaotdemoApp.task.assignee">Assignee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in vm.tasks track by task.id">
                    <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                    <td data-translate="{{'gestaotdemoApp.TaskAction.' + task.action}}" class="label label-default">{{task.action}}</td>
                    <td>{{task.entityName}}</td>
                    <td>{{task.description}}</td>
                    <td data-translate="{{'gestaotdemoApp.TaskStatus.' + task.status}}" ng-class="{'text-green': task.status == 'EXECUTED', 'text-yellow': task.status == 'NEW'}">{{task.status}}</td>
                    <td>{{task.lastStatusDate | date:'medium'}}</td>
                    <td>
                        {{task.creator.login}}
                    </td>
                    <td>
                        {{task.assignee.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="task-detail({id:task.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            
                            
                            <button ng-if="task.status == 'NEW'" type="button"
                            		ng-click="vm.execute(task);"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
                            </button>
                            
                            <button type="submit"
                                    ui-sref="task.edit({id:task.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task.delete({id:task.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
