
<div>
    <h2><span data-translate="gestaotdemoApp.task.detail.title">Task</span> {{vm.task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestaotdemoApp.task.action">Action</span></dt>
        <dd>
            <span data-translate="{{'gestaotdemoApp.TaskAction.' + vm.task.action}}">{{vm.task.action}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.entityId">Entity Id</span></dt>
        <dd>
            <span>{{vm.task.entityId}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.entityName">Entity Name</span></dt>
        <dd>
            <span>{{vm.task.entityName}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.description">Description</span></dt>
        <dd>
            <span>{{vm.task.description}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.status">Status</span></dt>
        <dd>
            <span ng-class="{'text-green': vm.task.status == 'EXECUTED', 'text-yellow': vm.task.status == 'NEW'}" data-translate="{{'gestaotdemoApp.TaskStatus.' + vm.task.status}}">{{vm.task.status}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.lastStatusDate">Last Status Date</span></dt>
        <dd>
            <span>{{vm.task.lastStatusDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.creator">Creator</span></dt>
        <dd>
            {{vm.task.creator.id}}
        </dd>
        <dt><span data-translate="gestaotdemoApp.task.assignee">Assignee</span></dt>
        <dd>
            {{vm.task.assignee.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="task-detail.edit({id:vm.task.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    
	<button ng-if="vm.task.status == 'NEW'" type="button"
			ng-click="vm.execute(vm.task);"
	        class="btn btn-success">
	    <span class="glyphicon glyphicon-ok"></span>
	    <span class="hidden-sm-down" data-translate="entity.action.execute">Executer</span>
	</button>
</div>
