<section class="content-header">

    <h1 data-translate="balancegApp.facture.home.createOrEditLabel">Facture</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span
            data-translate="global.menu.home">Home</span> </a></li>
        <li><a ui-sref="user-management"
               data-translate="balancegApp.facture.home.title"> Facture</a></li>
        <li><a
            data-translate="{{ !vm.user.id ? 'entity.action.new' : 'entity.action.edit' }}">
            Nouveau</a></li>
    </ol>

</section>

<!-- Main content -->
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.ref" for="field_ref">Ref</label>
                            <input type="text" class="form-control" name="ref" id="field_ref"
                                   ng-model="facture.ref"
                                   required maxlength="254"/>
                            <div ng-show="editForm.ref.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.ref.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.libelle"
                                   for="field_libelle">Libelle</label>
                            <textarea type="text" class="form-control" name="libelle" id="field_libelle"
                                      ng-model="facture.libelle" required rows="3" maxlength="254"></textarea>
                            <div ng-show="editForm.libelle.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.libelle.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label translate="balancegApp.facture.client" for="field_client">client</label>
                            <!--<select class="form-control" id="field_client" name="client" ng-change="onChangeClient()"
                            ng-model="selectedClient" ng-options="client as client.nomSociete for client in clients">
                                <option value=""></option>
                            </select>-->
                            <!--ng-change = "onChangeClient()"-->
                            <input autocomplete="off" placeholder="Client" type="text" class="form-control"
                                   name="client"
                                   id="field_client"
                                   ng-model="selectedClient" typeahead-on-select="onChangeClient($item)"
                                   uib-typeahead="client as client.nomSociete for client in clients | filter:$viewValue | limitTo:10"
                                   typeahead-loading="chargementDesAmodiataires" typeahead-no-results="pasDamodiataires"
                                   class="form-control">
                            <div ng-show="!selectedClient || !selectedClient.id">
                                <p class="help-block" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" ng-show="selectedClient && selectedClient.id">
                        <div class="form-group">
                            <label translate="gestionaotApp.echeance.detail.title" for="field_echeance">Echeance</label>
                            <select class="form-control" id="field_echeance" name="echeance"
                                    ng-change="onChangeEcheance()"
                                    ng-model="selectedEcheance"
                                    ng-options="echeance as 'Du '+ (echeance.dateDebut|date:'dd/MM/yyyy') +' Au '+(echeance.dateFin|date:'dd/MM/yyyy') for echeance in echeances">
                                <!--<option value=""></option>-->
                            </select>

                            <div ng-show="!selectedEcheance">
                                <p class="help-block" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.montant" for="field_montant">Montant
                                TTC</label>
                            <input disabled type="money" class="form-control currency2" name="montant"
                                   id="field_montant"
                                   dart-currency ng-model="facture.montant"
                                   required min="0"/>
                            <div ng-show="editForm.montant.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.min" translate="entity.validation.min"
                                   translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.montantHorsTaxe"
                                   for="field_montantHorstaxe">Montant HT</label>
                            <input disabled type="text" class="form-control currency" name="montant"
                                   id="field_montantHorsTaxe"
                                   dart-currency ng-model="facture.montantHorsTaxe"
                                   required min="0"/>
                            <div ng-show="editForm.montant.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.min" translate="entity.validation.min"
                                   translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.dateFacture"
                                   for="field_dateFacture">DateFacture</label>
                            <div class="input-group">
                                <input id="field_dateFacture" type="text" class="form-control"
                                       uib-datepicker-popup="{{dateformat}}" ng-model="facture.dateFacture"
                                       is-open="datePickerForDateFacture.status.opened"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="datePickerForDateFactureOpen($event)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                            <div ng-show="!facture.dateFacture">
                                <p class="help-block"
                                   ng-show="!facture.dateFacture" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.facture.dateEcheance"
                                   for="field_dateEcheance">Date Echeance</label>
                            <input id="field_dateEcheance" type="text" class="form-control"
                                   uib-datepicker-popup="{{dateformat}}" ng-model="facture.dateEcheance"
                                   is-open="datePickerForDateEcheance.status.opened"
                                   disabled/>
                            <!-- <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerForDateEcheanceOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span> -->
                            <div ng-show="editForm.dateEcheance.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.dateEcheance.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" data-translate="balancegApp.facture.dateDebut"
                                   for="field_dateDebut">Date Debut</label>
                            <input disabled id="field_dateDebut" type="text" class="form-control" name="dateDebut"
                                   uib-datepicker-popup="{{dateformat}}" ng-model="facture.dateDebut"
                                   is-open="datePickerOpenStatus.dateDebut"
                            />
                            <!-- <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" data-translate="balancegApp.facture.dateFin"
                                   for="field_dateFin">Date Fin</label>
                            <input disabled id="field_dateFin" ng-change="updateDateEcheance();" type="text"
                                   class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}"
                                   ng-model="facture.dateFin" is-open="datePickerOpenStatus.dateFin"
                            />
                            <!-- <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    data-translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                        class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                    data-translate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </form>
</section>
