<section class="content-header">

	<h1 data-translate="gestionaotApp.facture.home.createOrEditLabel">Facture</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span
				data-translate="global.menu.home">Home</span> </a></li>
		<li><a ui-sref="user-management"
			data-translate="gestionaotApp.facture.home.title"> Facture</a></li>
		<li><a
			data-translate="{{ !vm.user.id ? 'entity.action.new' : 'entity.action.edit' }}">
				Nouveau</a></li>
	</ol>

</section>


<!-- Main content -->
<section class="content">
	<form name="editForm" role="form" novalidate ng-submit="save()">
		<div class="box box-primary">

			<div class="box-body">

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" translate="balancegApp.facture.ref"
								for="field_ref">Ref</label> <input type="text"
								class="form-control" name="ref" id="field_ref"
								ng-model="facture.ref" readonly />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"
								translate="balancegApp.facture.client" for="field_ref">Client</label>
							<input type="text" class="form-control" name="ref"
								id="field_client" ng-model="facture.clientNom" readonly />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"
								translate="balancegApp.facture.libelle" for="field_libelle">Libelle</label>
							<input type="text" class="form-control" name="libelle"
								id="field_libelle" ng-model="facture.libelle" readonly />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"
								translate="balancegApp.facture.montant" for="field_montant">Montant
								TTC</label> <input type="money" class="form-control currency2"
								name="montant" id="field_montant" dart-currency
								ng-model="facture.montant" readonly />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"
								translate="balancegApp.facture.dateFacture"
								for="field_dateFacture">DateFacture</label> <input
								id="field_dateFacture" type="text" class="form-control"
								uib-datepicker-popup="{{dateformat}}"
								ng-model="facture.dateFacture" readonly />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label"
								translate="balancegApp.facture.dateFacture"
								for="field_dateFacture">DateFacture</label> <input
								id="field_dateFacture" type="text" class="form-control"
								uib-datepicker-popup="{{dateformat}}"
								ng-model="facture.dateFacture" readonly />
						</div>
					</div>
				</div>

				<div class="row">
				<div class="col-md-6">
					<div class="form-group">					
							<label class="control-label"
								translate="balancegApp.facture.ancienEcheance"
								for="field_dateEcheanceAncien">Ancienne Date Echeance</label> <input
								id="field_dateEcheanceAncien" type="text" class="form-control"
								uib-datepicker-popup="{{dateformat}}" ng-model="ancienecheance"
								readonly />
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
						
						<div class="form-group">
                           <label class="control-label"
								translate="balancegApp.facture.nouveauEcheance"
								for="field_dateEcheance">DateEcheance</label> <input
								id="field_dateEcheance" type="text" class="form-control"
								uib-datepicker-popup="{{dateformat}}"
								ng-model="facture.dateEcheance"
								is-open="datePickerForDateEcheance.status.opened" required /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="datePickerForDateEcheanceOpen($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
							<div ng-show="editForm.dateEcheance.$invalid">
								<p class="help-block"
									ng-show="editForm.dateEcheance.$error.required"
									translate="entity.validation.required">This field is
									required.</p>
							</div>
                        </div>
						
						
							
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="clear()">
					<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
						translate="entity.action.cancel">Cancel</span>
				</button>
				<button type="submit" ng-disabled="editForm.$invalid || isSaving"
					class="btn btn-primary">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span
						translate="entity.action.save">Save</span>
				</button>
			</div>

		</div>
	</form>
</section>
