<section class="content-header">

    <h1 data-translate="balancegApp.facture.home.title">Factures</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span></a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="balancegApp.facture.home.title"> Factures</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="row m-t-b-10">
                <div class="col-xs-4 col-md-2">
                    <button class="btn btn-primary btn-block" ui-sref="facture.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="balancegApp.facture.home.createLabel"> Create a
								new One
						</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="jh-table table table-striped table-condensed table-bordered table-responsive table-hover">
                    <thead>
                    <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                        <th jh-sort-by="ref"><span translate="balancegApp.facture.ref">Ref</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="libelle"><span translate="balancegApp.facture.libelle">Libelle</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dateFacture"><span translate="balancegApp.facture.dateFacture">DateFacture</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dateEcheance"><span translate="balancegApp.facture.dateEcheance">DateEcheance</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dateEcheance"><span translate="balancegApp.facture.retard">Retard</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="montant"><span translate="balancegApp.facture.montant">Montant</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="clientRef"><span translate="balancegApp.facture.client">client</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="estRegle"><span translate="balancegApp.facture.estRegle">Est Reglee</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                    <tr ng-repeat="facture in factures track by facture.id">
                        <td><a ui-sref="facture.detail({id:facture.id})">{{facture.ref}}</a></td>
                        <td>{{facture.libelle}}</td>
                        <td align="right">{{facture.dateFacture | date:'mediumDate'}}</td>
                        <td align="right">{{facture.dateEcheance | date:'mediumDate'}}</td>
                        <td align="right"><span class="label label-danger"
                                                ng-show="!facture.estRegle && enretard(facture.dateEcheance)"
                                                style="cursor: pointer;">{{dayRetard(facture.dateEcheance)}} Jrs</span></td>
                        <td align="right">{{facture.montant | currency:'':0}}</td>
                        <td>
                            <a ui-sref="amodiataire-detail({id:facture.clientId})">{{facture.clientRef}} -
                                {{facture.clientNom}}</a>
                        </td>
                        <td>
                    	<span class="label label-danger" ng-show="!facture.estRegle"
                              style="cursor: pointer;">NON</span>
                            <span class="label label-success" ng-show="facture.estRegle"
                                  style="cursor: pointer;">OUI</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="facture.detail({id:facture.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="facture.edit({id:facture.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="facture.delete({id:facture.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clear-fix">
            <div class="row">
                <div class="col-md-6 m-t-5">
                    <jhi-item-count page="vm.page" total="vm.queryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-md-6">
                    <uib-pagination
                        class="pagination pagination-sm no-margin pull-right"
                        total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div>
    <h2 translate="balancegApp.facture.home.title">Factures</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="facture.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs" translate="balancegApp.facture.home.createLabel">Create new Facture
                    </span>
                </button>
            </div>
            &lt;!&ndash; <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'balancegApp.facture.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div> &ndash;&gt;
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped table-condensed table-bordered table-responsive table-hover">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                <th jh-sort-by="ref"><span translate="balancegApp.facture.ref">Ref</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="libelle"><span translate="balancegApp.facture.libelle">Libelle</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateFacture"><span translate="balancegApp.facture.dateFacture">DateFacture</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateEcheance"><span translate="balancegApp.facture.dateEcheance">DateEcheance</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateEcheance"><span translate="balancegApp.facture.retard">Retard</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="montant"><span translate="balancegApp.facture.montant">Montant</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="clientRef"><span translate="balancegApp.facture.client">client</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="estRegle"><span translate="balancegApp.facture.estRegle">Est Reglee</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="facture in factures track by facture.id">
                <td><a ui-sref="facture.detail({id:facture.id})">{{facture.ref}}</a></td>
                <td>{{facture.libelle}}</td>
                <td align="right">{{facture.dateFacture | date:'mediumDate'}}</td>
                <td align="right">{{facture.dateEcheance | date:'mediumDate'}}</td>
                <td align="right"><span class="label label-danger"
                                        ng-show="!facture.estRegle && enretard(facture.dateEcheance)"
                                        style="cursor: pointer;">{{dayRetard(facture.dateEcheance)}} Jrs</span></td>
                <td align="right">{{facture.montant | currency:'':0}}</td>
                <td>
                    <a ui-sref="amodiataire-detail({id:facture.clientId})">{{facture.clientRef}} -
                        {{facture.clientNom}}</a>
                </td>
                <td>
                    	<span class="label label-danger" ng-show="!facture.estRegle"
                              style="cursor: pointer;">NON</span>
                    <span class="label label-success" ng-show="facture.estRegle"
                          style="cursor: pointer;">OUI</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="facture.detail({id:facture.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="facture.edit({id:facture.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="facture.delete({id:facture.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->
