
<div>
    <h2><span translate="balancegApp.reglement.detail.title">Reglement</span> {{reglement.ref}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="18%" translate="entity.detail.field">Field</th>
                <th width="30%" translate="entity.detail.value">Value</th>
                <th width="4%"></th>
                <th width="18%" translate="entity.detail.field">Field</th>
                <th width="30%" translate="entity.detail.value">Value</th>
              
            </tr>
            </thead>
            <tbody>
            <tr>
            	
                <th>
                    <span translate="balancegApp.reglement.ref">Ref</span>
                </th>
                <td>
                    <span class="form-control-static">{{reglement.ref}}</span>
                </td>
                <td></td>
                <th>
                    <span translate="balancegApp.facture.client">client</span>
                </th>
                <td>
                    <a class="form-control-static" ui-sref="client.detail({id:reglement.clientId})">{{reglement.clientRef}} - {{reglement.clientNom}}</a>
                </td>
            </tr>
            <tr>
                <th>
                    <span translate="balancegApp.reglement.montant">Montant</span>
                </th>
                <td>
                    <span class="form-control-static">{{reglement.montant | currency:'':0}}</span>
                </td>
                <td></td>
                <th>
                    <span translate="balancegApp.reglement.dateReglement">DateReglement</span>
                </th>
                <td>
                    <span class="form-control-static">{{reglement.dateReglement | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <th>
                    <span translate="balancegApp.reglement.libelle">Libelle</span>
                </th>
                <td>
                    <span class="form-control-static">{{reglement.libelle}}</span>
                </td>
                <td></td>
                <th>
                    
                </th>
                <td>
                    
                </td>
            </tr>
            </tbody>
        </table>
    </div>

	
	<legend>Liste des Factures Payees</legend>
	<table class="table table-striped">
           <thead>
               <tr jh-sort="predicate" ascending="reverse" callback="reset()">                    
                   <th jh-sort-by="ref"><span translate="balancegApp.facture.home.title">Ref. Facture</span> <span class="glyphicon glyphicon-sort"></span></th>
                   <th jh-sort-by="montant"><span translate="balancegApp.reglement.montant">Montant</span> <span class="glyphicon glyphicon-sort"></span></th>
                   <th jh-sort-by="dateReglement"><span translate="balancegApp.reglement.dateReglement">DateReglement</span> <span class="glyphicon glyphicon-sort"></span></th>
                   
               </tr>
           </thead>
           <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
               <tr ng-repeat="reglementFacture in reglementFactures track by reglementFacture.id">
                   <td><a ui-sref="facture.detail({id:reglementFacture.facture.id})">{{reglementFacture.facture.ref}}</a></td>
                   <td>{{reglementFacture.montant}}</td>
                   <td>{{reglementFacture.dateReglement | date:'mediumDate'}}</td>                   
               </tr>
           </tbody>
    </table>
    
    
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
