<section class="content-header">

    <h1 data-translate="balancegApp.reglement.home.title">Règlement</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span
            data-translate="global.menu.home">Home</span> </a></li>
        <li><a ui-sref="user-management"
               data-translate="balancegApp.reglement.home.title"> Règlement</a></li>
        <li><a
            data-translate="{{ !vm.user.id ? 'entity.action.new' : 'entity.action.edit' }}">
            Nouveau</a></li>
    </ol>

</section>

<!-- Main content -->
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="save()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.reglement.ref"
                                   for="field_ref">Ref</label>
                            <input type="text" class="form-control" name="ref" id="field_ref"
                                   ng-model="reglement.ref"
                                   required/>
                            <div ng-show="editForm.ref.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.ref.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label translate="balancegApp.reglement.client" for="field_client">client</label>
                            <!--<select class="form-control" id="field_client" name="client" ng-change="onChangeClient()"
                            ng-model="reglement.clientId" ng-options="client.id as client.nomSociete for client in clients">
                                <option value=""></option>
                            </select>-->
                            <input autocomplete="off" placeholder="Client" type="text" class="form-control"
                                   name="client"
                                   id="field_client"
                                   ng-model="selectedClient" typeahead-on-select="onChangeClient($item)"
                                   uib-typeahead="client as client.nomSociete for client in clients | filter:$viewValue | limitTo:10"
                                   typeahead-loading="chargementDesAmodiataires" typeahead-no-results="pasDamodiataires"
                                   class="form-control">

                            <p class="help-block"
                               ng-show="editForm.client.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.reglement.libelle"
                                   for="field_libelle">Libelle</label>
                            <input type="text" class="form-control" name="libelle" id="field_libelle"
                                   ng-model="reglement.libelle"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" translate="balancegApp.reglement.montant"
                                   for="field_montant">Montant</label>
                            <input type="money" class="form-control" name="montant" id="field_montant" dart-currency
                                   ng-model="reglement.montant"
                                   required min="0"/>
                            <div ng-show="editForm.montant.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.min" translate="entity.validation.min" translate-value-min="0">
                                    This field should be more than 0.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.montant.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" translate="balancegApp.reglement.dateReglement" for="field_dateReglement">DateReglement</label>
                        <div class="input-group">
                            <input id="field_dateReglement" type="text" class="form-control"
                                   uib-datepicker-popup="{{dateformat}}" ng-model="reglement.dateReglement"
                                   is-open="datePickerForDateReglement.status.opened"
                                   required/>
                            <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="datePickerForDateReglementOpen($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
	            </span>
                        </div>
                        <div ng-show="editForm.dateReglement.$invalid">
                            <p class="help-block"
                               ng-show="editForm.dateReglement.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" data-translate="balancegApp.reglement.modeReglement"
                               for="field_modeReglement">modeReglement</label>
                        <select ng-model="reglement.modeReglement" class="form-control"
                                ng-change="modeReglementSelected(reglement.modeReglement);"
                                name="modeReglement" id="field_modeReglement" ng-model="reglement.modeReglement">
                            <option>CHEQUE</option>
                            <option>ESPECE</option>
                            <option>TRAITE</option>
                            <option>AUTRE</option>
                        </select>
                        <div ng-show="!reglement.modeReglement">
                            <p class="help-block">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </br>
                <legend><b>Liste des Factures</b></b></legend>
                <table class="table table-condensed table-striped table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th ng-click="predicate = 'ref'; reverse=!reverse"><span translate="balancegApp.facture.ref">Ref</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'libelle'; reverse=!reverse"><span translate="balancegApp.facture.libelle">Libelle</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'dateFacture'; reverse=!reverse"><span
                            translate="balancegApp.facture.dateFacture">DateFacture</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'dateEcheance'; reverse=!reverse"><span
                            translate="balancegApp.facture.dateEcheance">DateEcheance</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'retard'; reverse=!reverse"><span translate="balancegApp.facture.retard">Retard</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'montant'; reverse=!reverse"><span translate="balancegApp.facture.montant">Montant</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'montantRegle'; reverse=!reverse"><span
                            translate="balancegApp.facture.montantRegle">Montant Regle</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'estRegle'; reverse=!reverse"><span translate="balancegApp.facture.estRegle">Est Reglee</span>
                            <span class="glyphicon glyphicon-sort"></span></th>
                        <th ng-click="predicate = 'montantARegler'; reverse=!reverse"><span
                            translate="balancegApp.facture.montantARegler">Montant A Regler</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="reglementfacture in reglementfactures | filter:filter | orderBy:predicate:reverse"
                        ng-hide="reglementfacture.filtered">
                        <td><a ui-sref="facture.detail({id:reglementfacture.facture.id})">{{reglementfacture.facture.ref}}</a>
                        </td>
                        <td>{{reglementfacture.facture.libelle}}</td>
                        <td align="right">{{reglementfacture.facture.dateFacture | date:'mediumDate'}}</td>
                        <td align="right">{{reglementfacture.facture.dateEcheance | date:'mediumDate'}}</td>
                        <td align="center">{{dayRetard(reglementfacture.facture.dateEcheance)}}</td>
                        <td align="right">{{reglementfacture.facture.montant | currency:'':0}}</td>
                        <td align="right">{{reglementfacture.facture.montantRegle | currency:'':0}}</td>

                        <td>
	                	<span class="label label-danger" ng-show="!reglementfacture.facture.estRegle"
                              style="cursor: pointer;">NON</span>
                            <span class="label label-success" ng-show="reglementfacture.facture.estRegle"
                                  style="cursor: pointer;">OUI</span>
                        </td>
                        <td align="right">
                            <input type="text" class="form-control" name="montantARegler" id="field_montant_aregler"
                                   ng-model="reglementfacture.montant" ng-change="onChangeMontantARegler(reglementfacture)"
                                   required dart-currency/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="reglerFacture(reglementfacture)">
                                <span class="glyphicon glyphicon-ban-circle"></span>Regler
                            </button>
                        </td>


                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Total :</th>
                        <th align="right"></th>
                        <th align="right"></th>
                        <th align="center"></th>
                        <th style="text-align:right">{{getTotalMontantFacture() | currency:'':0}}</th>
                        <th style="text-align:right">{{getTotalMontantRegle() | currency:'':0}}</th>
                        <th></th>
                        <th style="text-align:right">{{getTotalMontantARegler() | currency:'':0}}</th>
                        <th></th>
                    </tr>

                    </tfoot>


                </table>

                <label class="label label-danger">{{getTexteValidation()}}</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    translate="entity.action.cancel">Cancel</span>
                </button>
                <!--         ng-disabled="editForm.$invalid || isSaving || !montantvalide" -->
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="saveDisabled();">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>

            </div>
        </div>
    </form>
</section>


<!--<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;
        </button>
        <h4 class="modal-title" id="myReglementLabel" translate="balancegApp.reglement.home.createOrEditLabel">Create or
            edit a Reglement</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="id" translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       ng-model="reglement.id" readonly/>
            </div>
            <div class="col-md-6">
                <label class="control-label" translate="balancegApp.reglement.ref" for="field_ref">Ref</label>
                <input type="text" class="form-control" name="ref" id="field_ref"
                       ng-model="reglement.ref"
                       required/>
                <div ng-show="editForm.ref.$invalid">
                    <p class="help-block"
                       ng-show="editForm.ref.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label translate="balancegApp.reglement.client" for="field_client">client</label>
                &lt;!&ndash;<select class="form-control" id="field_client" name="client" ng-change="onChangeClient()"
	            ng-model="reglement.clientId" ng-options="client.id as client.nomSociete for client in clients">
	                <option value=""></option>
	            </select>&ndash;&gt;
                <input autocomplete="off" placeholder="Client" type="text" class="form-control" name="client"
                       id="field_client"
                       ng-model="selectedClient" typeahead-on-select="onChangeClient($item)"
                       uib-typeahead="client as client.nomSociete for client in clients | filter:$viewValue | limitTo:10"
                       typeahead-loading="chargementDesAmodiataires" typeahead-no-results="pasDamodiataires"
                       class="form-control">

                <p class="help-block"
                   ng-show="editForm.client.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

            </div>

            <div class="col-md-6">
                <label class="control-label" translate="balancegApp.reglement.libelle"
                       for="field_libelle">Libelle</label>
                <input type="text" class="form-control" name="libelle" id="field_libelle"
                       ng-model="reglement.libelle"
                />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="control-label" translate="balancegApp.reglement.montant"
                       for="field_montant">Montant</label>
                <input type="money" class="form-control" name="montant" id="field_montant" dart-currency
                       ng-model="reglement.montant"
                       required min="0"/>
                <div ng-show="editForm.montant.$invalid">
                    <p class="help-block"
                       ng-show="editForm.montant.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.montant.$error.min" translate="entity.validation.min" translate-value-min="0">
                        This field should be more than 0.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.montant.$error.number" translate="entity.validation.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label" translate="balancegApp.reglement.dateReglement" for="field_dateReglement">DateReglement</label>
                <div class="input-group">
                    <input id="field_dateReglement" type="text" class="form-control"
                           uib-datepicker-popup="{{dateformat}}" ng-model="reglement.dateReglement"
                           is-open="datePickerForDateReglement.status.opened"
                           required/>
                    <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="datePickerForDateReglementOpen($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
	            </span>
                </div>
                <div ng-show="editForm.dateReglement.$invalid">
                    <p class="help-block"
                       ng-show="editForm.dateReglement.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label" data-translate="balancegApp.reglement.modeReglement"
                       for="field_modeReglement">modeReglement</label>
                <select ng-model="reglement.modeReglement" class="form-control"
                        ng-change="modeReglementSelected(reglement.modeReglement);"
                        name="modeReglement" id="field_modeReglement" ng-model="reglement.modeReglement">
                    <option>CHEQUE</option>
                    <option>ESPECE</option>
                    <option>TRAITE</option>
                    <option>AUTRE</option>
                </select>
                <div ng-show="!reglement.modeReglement">
                    <p class="help-block">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-md-6" ng-show="modeReglementAutreSelected">
                <label class="control-label" data-translate="balancegApp.reglement.infoReglement"
                       for="field_infoReglement">Info Reglement</label>
                <input type="text" maxlength="254" class="form-control" name="infoReglement" id="field_infoReglement"
                       ng-model="reglement.infoReglement"
                />
                <div ng-show="modeReglementAutreSelected && !reglement.infoReglement">
                    <p class="help-block">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <legend>Liste des Factures</legend>
        <table class="table table-condensed table-striped table-bordered table-responsive">
            <thead>
            <tr>
                <th ng-click="predicate = 'ref'; reverse=!reverse"><span translate="balancegApp.facture.ref">Ref</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'libelle'; reverse=!reverse"><span translate="balancegApp.facture.libelle">Libelle</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'dateFacture'; reverse=!reverse"><span
                    translate="balancegApp.facture.dateFacture">DateFacture</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'dateEcheance'; reverse=!reverse"><span
                    translate="balancegApp.facture.dateEcheance">DateEcheance</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'retard'; reverse=!reverse"><span translate="balancegApp.facture.retard">Retard</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'montant'; reverse=!reverse"><span translate="balancegApp.facture.montant">Montant</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'montantRegle'; reverse=!reverse"><span
                    translate="balancegApp.facture.montantRegle">Montant Regle</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'estRegle'; reverse=!reverse"><span translate="balancegApp.facture.estRegle">Est Reglee</span>
                    <span class="glyphicon glyphicon-sort"></span></th>
                <th ng-click="predicate = 'montantARegler'; reverse=!reverse"><span
                    translate="balancegApp.facture.montantARegler">Montant A Regler</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reglementfacture in reglementfactures | filter:filter | orderBy:predicate:reverse"
                ng-hide="reglementfacture.filtered">
                <td><a ui-sref="facture.detail({id:reglementfacture.facture.id})">{{reglementfacture.facture.ref}}</a>
                </td>
                <td>{{reglementfacture.facture.libelle}}</td>
                <td align="right">{{reglementfacture.facture.dateFacture | date:'mediumDate'}}</td>
                <td align="right">{{reglementfacture.facture.dateEcheance | date:'mediumDate'}}</td>
                <td align="center">{{dayRetard(reglementfacture.facture.dateEcheance)}}</td>
                <td align="right">{{reglementfacture.facture.montant | currency:'':0}}</td>
                <td align="right">{{reglementfacture.facture.montantRegle | currency:'':0}}</td>

                <td>
	                	<span class="label label-danger" ng-show="!reglementfacture.facture.estRegle"
                              style="cursor: pointer;">NON</span>
                    <span class="label label-success" ng-show="reglementfacture.facture.estRegle"
                          style="cursor: pointer;">OUI</span>
                </td>
                <td align="right">
                    <input type="text" class="form-control" name="montantARegler" id="field_montant_aregler"
                           ng-model="reglementfacture.montant" ng-change="onChangeMontantARegler(reglementfacture)"
                           required dart-currency/>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="reglerFacture(reglementfacture)">
                        <span class="glyphicon glyphicon-ban-circle"></span>Regler
                    </button>
                </td>


            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>Total :</th>
                <th align="right"></th>
                <th align="right"></th>
                <th align="center"></th>
                <th style="text-align:right">{{getTotalMontantFacture() | currency:'':0}}</th>
                <th style="text-align:right">{{getTotalMontantRegle() | currency:'':0}}</th>
                <th></th>
                <th style="text-align:right">{{getTotalMontantARegler() | currency:'':0}}</th>
                <th></th>
            </tr>

            </tfoot>


        </table>

        <label class="label label-danger">{{getTexteValidation()}}</label>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        &lt;!&ndash;         ng-disabled="editForm.$invalid || isSaving || !montantvalide" &ndash;&gt;
        <button type="submit" class="btn btn-primary" ng-disabled="saveDisabled();">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>-->
