<section class="content-header">
    <h1 data-translate="balancegApp.reglement.home.title">Règlements</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span></a>
        </li>
        <li><a ui-sref="checkpoint" data-translate="balancegApp.reglement.home.title"> Factures</a></li>
    </ol>
</section>

<!-- Main content -->
<jhi-alert></jhi-alert>
<section class="content">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="row m-t-b-10">
                    <div class="col-xs-4 col-md-3">
                        <button class="btn btn-primary btn-block" ui-sref="reglement.new">
                            <span class="glyphicon glyphicon-plus"></span> <span
                            data-translate="balancegApp.reglement.home.createLabel"> Create a
								new One
						</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped table-hover table-bordered">
                        <thead>
                        <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                            <th jh-sort-by="ref"><span translate="balancegApp.reglement.ref">Ref</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="libelle"><span translate="balancegApp.reglement.libelle">Libelle</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="client"><span translate="balancegApp.reglement.client">Client</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="montant"><span translate="balancegApp.reglement.montant">Montant</span>
                                <span
                                    class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="dateReglement"><span
                                translate="balancegApp.reglement.dateReglement">DateReglement</span> <span
                                class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                        <tr ng-repeat="reglement in reglements track by reglement.id">
                            <td><a ui-sref="reglement.detail({id:reglement.id})">{{reglement.ref}}</a></td>
                            <td>{{reglement.libelle}}</td>
                            <td><a ui-sref="amodiataire-detail({id:reglement.clientId})">{{reglement.clientId}}/{{reglement.clientNom}}</a>
                            </td>
                            <td class="text-center">{{reglement.montant | currency:'':0}}</td>
                            <td>{{reglement.dateReglement | date:'mediumDate'}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="reglement.detail({id:reglement.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="reglement.edit({id:reglement.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="reglement.delete({id:reglement.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clear-fix">
                <div class="row">
                    <div class="col-md-6 m-t-5">
                        <jhi-item-count page="vm.page" total="vm.queryCount"
                                        items-per-page="vm.itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="col-md-6">
                        <uib-pagination
                            class="pagination pagination-sm no-margin pull-right"
                            total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                            ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<!--<div>
    <h2 translate="balancegApp.reglement.home.title">Reglements</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="reglement.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs" translate="balancegApp.reglement.home.createLabel">Create new Reglement
                    </span>
                </button>
            </div>
            &lt;!&ndash; <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'balancegApp.reglement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div> &ndash;&gt;
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        &lt;!&ndash;         <table class="jh-table table table-striped table-condensed table-bordered table-responsive table-hover"> &ndash;&gt;
        <table class="jh-table table table-striped table-hover table-bordered">

            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                <th jh-sort-by="ref"><span translate="balancegApp.reglement.ref">Ref</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="libelle"><span translate="balancegApp.reglement.libelle">Libelle</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="client"><span translate="balancegApp.reglement.client">Client</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="montant"><span translate="balancegApp.reglement.montant">Montant</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateReglement"><span
                    translate="balancegApp.reglement.dateReglement">DateReglement</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="reglement in reglements track by reglement.id">
                <td><a ui-sref="reglement.detail({id:reglement.id})">{{reglement.ref}}</a></td>
                <td>{{reglement.libelle}}</td>
                <td><a ui-sref="amodiataire-detail({id:reglement.clientId})">{{reglement.clientId}}/{{reglement.clientNom}}</a>
                </td>
                <td class="text-center">{{reglement.montant | currency:'':0}}</td>
                <td>{{reglement.dateReglement | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="reglement.detail({id:reglement.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="reglement.edit({id:reglement.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="reglement.delete({id:reglement.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->
