
<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a ui-sref="home" href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="logo-img" src="../../../content/images/PAD.jpg" alt="logo"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img style="padding: 1px 8px 5px;" class="logo-img" src="../../../content/images/PAD.jpg" alt="logo"/><b>GESTAOT</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" ng-switch="vm.isAuthenticated()">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button" ng-if="isAuthenticated()">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                        <span class="fa fa-sign-in"></span>&nbsp;
                        <span data-translate="global.menu.account.login">Sign in</span>
                    </a>
                </li>

				
				
				<!-- Language Menu -->
               <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                
                <!-- User Account Menu -->
                <li ng-class="{active: vm.$state.includes('account')}" ng-switch-when="true" uib-dropdown class="dropdown pointer user user-menu">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <img src="content/images/avatar.png" class="user-image" alt="User Image">
                            <!-- <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span> -->
                            <span class="hidden-sm">
                            	{{vm.account.firstName}} {{vm.account.lastName}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <!-- <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li> -->
                        <!-- <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
              </ul>
        </div>
    </nav>
</header>


<!-- <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span> Gestion <b>AOT</b> </span>
                <span class="navbar-version"> ( v{{VERSION}} )</span>
            </a>
        </div>

        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">

            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ship"></i> Amodiataires <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-ship"></i> Amodiataire</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-map-o"></i> Points</a></li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                jhipster-needle-add-element-to-menu - JHipster will add new menu items here
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="fa fa-ship"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-any-authority="LISTER_AOT,GERER_AOT,ROLE_ADMIN" >
                                <a ui-sref="amodiataire" ng-click="vm.collapseNavbar()">
                                    <span class="fa fa-ship"></span>&nbsp;
                                    <span data-translate="global.menu.entities.amodiataire">Amodiataire</span>
                                </a>
                            </li>
                        <li ui-sref-active="active" has-any-authority="LISTER_POINT,GERER_POINT,ROLE_ADMIN" >
                                <a ui-sref="point" ng-click="vm.collapseNavbar()">
                                    <span class="fa fa-map-o"></span>&nbsp;
                                    <span data-translate="global.menu.entities.point">Point</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                        <li ui-sref-active="active"  has-any-authority="LISTER_FACTURE,GERER_FACTURE,ROLE_ADMIN" >
                        	<a ui-sref="facture" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                        &#xA0;<span translate="global.menu.entities.facture">Facture</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active" has-any-authority="LISTER_REGLEMENT,GERER_REGLEMENT,ROLE_ADMIN" ><a ui-sref="reglement" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-shopping-cart"></span>
                        &#xA0;<span translate="global.menu.entities.reglement">Reglement</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li ui-sref-active="active" has-any-authority="CONSULTER_BALANCE_AGEE,GERER_BALANCEG,ROLE_ADMIN" ><a ui-sref="balanceg" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-stats"></span>
                        &#xA0;<span translate="global.menu.entities.balanceg">balanceg</span></a></li>
                        <li ui-sref-active="active">
                                <a ui-sref="amodiataire" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.amodiataire">Amodiataire</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="point" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.point">Point</span>
                                </a>
                            </li>
                        <li ui-sref-active="active" has-any-authority="LISTER_ROLE,GERER_ROLE,ROLE_ADMIN" >
                                <a ui-sref="role" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.role">Role</span>
                                </a>
                            </li>
                        <li ui-sref-active="active" has-any-authority="LISTER_TASK,GERER_TASK,ROLE_ADMIN">
                                <a ui-sref="task" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.task">Task</span>
                                    <span class="label label-info">({{vm.data.tasks}})</span>
                                </a>
                            </li>
                        <li ui-sref-active="active" has-any-authority="LISTER_ECHEANCIER,GERER_ECHEANCIER,ROLE_ADMIN">
                                <a ui-sref="echeance" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.echeance">Echeance</span>
                                </a>
                            </li>
                        <li ui-sref-active="active"  has-any-authority="LISTER_ECHEANCE,GERER_ECHEANCE,ROLE_ADMIN">
                                <a ui-sref="echeancier" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.echeancier">Echeancier</span>
                                </a>
                            </li>
                        jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here
                    </ul>
                </li>

                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-any-authority="ROLE_ADMIN,ROLE_SYSTEM" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" ng-switch-when="true" uib-dropdown class="dropdown pointer user user-menu">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <img src="content/images/avatar.png" class="user-image" alt="User Image">
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <span class="hidden-sm">
                            	{{vm.account.firstName}} {{vm.account.lastName}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
 -->