
<div>
    <h2><span data-translate="gestionaotApp.echeancier.detail.title">Echeancier</span> {{vm.echeancier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestionaotApp.echeancier.idAmodiataire">Id Amodiataire</span></dt>
        <dd>
            <span>{{vm.echeancier.nomSociete}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeancier.ref">Ref</span></dt>
        <dd>
            <span>{{vm.echeancier.ref}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeancier.montantHT">Montant HT</span></dt>
        <dd>
            <span>{{vm.echeancier.montantHT}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeancier.montant">Montant</span></dt>
        <dd>
            <span>{{vm.echeancier.montant}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeancier.dateDebut">Date Debut</span></dt>
        <dd>
            <span>{{vm.echeancier.dateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.echeancier.dateFin">Date Fin</span></dt>
        <dd>
            <span>{{vm.echeancier.dateFin | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
<!-- 
    <button type="button" ui-sref="echeancier-detail.edit({id:vm.echeancier.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button> -->
    <br />
    <hr />
    <h2 data-translate="gestionaotApp.echeance.home.title">Echeances</h2>
     <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="gestionaotApp.echeance.idEcheancier">Id Echeancier</span></th>
                    <th><span data-translate="gestionaotApp.echeance.idAmodiataire">Id Amodiataire</span></th>
                    <th><span data-translate="gestionaotApp.echeance.idFacture">Id Facture</span></th>
                    <th><span data-translate="gestionaotApp.echeance.ref">Ref</span></th>
                    <th><span data-translate="gestionaotApp.echeance.montanHT">Montan HT</span></th>
                    <th><span data-translate="gestionaotApp.echeance.montant">Montant</span></th>
                    <th><span data-translate="gestionaotApp.echeance.dateDebut">Date Debut</span></th>
                    <th><span data-translate="gestionaotApp.echeance.dateFin">Date Fin</span></th>
                    <th><span data-translate="gestionaotApp.echeance.idReglement">Id Reglement</span></th>
                    <th><span data-translate="gestionaotApp.echeance.estFacture">Est Facture</span></th>
                    <th><span data-translate="gestionaotApp.echeance.estRegle">Est Regle</span></th>
                    <th width="12%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="echeance in vm.page.content track by echeance.id">
                    <td><a ui-sref="echeance-detail({id:echeance.id})">{{echeance.id}}</a></td>
                    <!--<td>{{echeance.idEcheancier}}</td>-->
                    <td>{{echeance.refEcheancier}}</td>
                    <!--<td>{{echeance.idAmodiataire}}</td>-->
                    <td>{{echeance.nomSociete}}</td>
                    <!--<td>{{echeance.idFacture}}</td>-->
                    <td>{{echeance.refFacture}}</td>
                    <td>{{echeance.ref}}</td>
                    <td>{{echeance.montanHT}}</td>
                    <td>{{echeance.montant}}</td>
                    <td>{{echeance.dateDebut | date:'mediumDate'}}</td>
                    <td>{{echeance.dateFin | date:'mediumDate'}}</td>
                    <!--<td>{{echeance.idReglement}}</td>-->
                    <td>{{echeance.refReglement}}</td>
                    <td>{{echeance.estFacture}}</td>
                    <td>{{echeance.estRegle}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="echeance-detail({id:echeance.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            </button>
                            <!-- <button type="submit"
                                    ui-sref="echeance.edit({id:echeance.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="echeance.delete({id:echeance.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="vm.page.totalElements" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm" style="margin-left: 40%" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>
