<div>
    <h2 data-translate="gestionaotApp.echeancier.home.title">Echeanciers</h2>
    <jhi-alert></jhi-alert>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="echeancier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestionaotApp.echeancier.home.createLabel">
                        Create new Echeancier
                    </span>
                </button>
            </div>
        </div>
    </div> -->
    <br/>
    
    <div class="row">
    	<div class="col-md-12">
    		<form ng-submit="vm.search();" name="filterForm">
                <div class="row">

                    <div class="form-group col-md-4">
                        <label class="control-label" data-translate="gestionaotApp.amodiataire.nomSociete" for="field_amodiataire">Nom Societe</label>  <br />
		                <input  autocomplete="off" placeholder="Saisir nom amodiataire" type="text" class="form-control" name="amodiataire" id="field_amodiataire"
		                    ng-model="selectedAmodiataire" typeahead-on-select="vm.onChangeAmodiataire($item)" uib-typeahead="amodiataire as amodiataire.nomSociete for amodiataire in vm.amodiataires | filter:$viewValue | limitTo:10"
		                    typeahead-loading="chargementDesAmodiataires" typeahead-no-results="pasDamodiataires" class="form-control" >
                    
                    </div>

                    <div class="form-group col-md-3 pull-right">
	                    <!-- <label class="control-label"></label> </br> -->
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;
                            <span  data-translate="entity.action.search">Search</span>
                        </button>

                        <button type="reset" class="btn" ng-click ="vm.reset()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                            <span  data-translate="entity.action.reset">Reset</span>
                        </button>
                    </div>
                </div>
      		</form>
      	</div>
      </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idAmodiataire"><span data-translate="gestionaotApp.echeancier.idAmodiataire">Id Amodiataire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ref"><span data-translate="gestionaotApp.echeancier.ref">Ref</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="montantHT"><span data-translate="gestionaotApp.echeancier.montantHT">Montant HT</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="montant"><span data-translate="gestionaotApp.echeancier.montant">Montant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDebut"><span data-translate="gestionaotApp.echeancier.dateDebut">Date Debut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span data-translate="gestionaotApp.echeancier.dateFin">Date Fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th width="12%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="echeancier in vm.echeanciers track by echeancier.id">
                    <td><a ui-sref="echeancier-detail({id:echeancier.id})">{{echeancier.id}}</a></td>
                    <!--<td>{{echeancier.idAmodiataire}}</td>-->
                    <td>{{echeancier.nomSociete}}</td>
                    <td>{{echeancier.ref}}</td>
                    <td>{{echeancier.montantHT}}</td>
                    <td>{{echeancier.montant}}</td>
                        <td>{{echeancier.dateDebut | date:'mediumDate'}}</td>
                        <td>{{echeancier.dateFin | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="echeancier-detail({id:echeancier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            </button>
                            <!-- <button type="submit"
                                    ui-sref="echeancier.edit({id:echeancier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button> -->
                            <!-- <button type="submit"
                                    ui-sref="echeancier.delete({id:echeancier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
