
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEcheancierLabel" data-translate="gestionaotApp.echeancier.home.createOrEditLabel">Create or edit a Echeancier</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.echeancier.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.echeancier.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.idAmodiataire" for="field_idAmodiataire">Id Amodiataire</label>
            <input type="number" class="form-control" name="idAmodiataire" id="field_idAmodiataire"
                    ng-model="vm.echeancier.idAmodiataire"
                    required/>
            <div ng-show="editForm.idAmodiataire.$invalid">
                <p class="help-block"
                    ng-show="editForm.idAmodiataire.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idAmodiataire.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.ref" for="field_ref">Ref</label>
            <input type="text" class="form-control" name="ref" id="field_ref"
                    ng-model="vm.echeancier.ref"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.montantHT" for="field_montantHT">Montant HT</label>
            <input type="number" class="form-control" name="montantHT" id="field_montantHT"
                    ng-model="vm.echeancier.montantHT"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.echeancier.montant"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.dateDebut" for="field_dateDebut">Date Debut</label>
                <div class="input-group">
                    <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.echeancier.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gestionaotApp.echeancier.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.echeancier.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
