<div class="container">
    <div class="row">
        <!--<div class="col-md-2">
            <span class="hipster img-responsive img-rounded"></span>
        </div>-->
        <div class="col-md-8 col-md-offset-2 text-center">

            <h1 data-translate="home.title"></h1>


            <!--<h1 data-translate="home.title">Welcome, Java Hipster!</h1>-->
            <p class="lead" data-translate="home.subtitle"></p>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="box home-box">
                        <div class="box-body text-center">
                                <img src="../../content/images/Color_Map_Marker_96.png">
                                <p data-translate="home.features.amodiataires"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box home-box">
                        <div class="box-body text-center">
                                <img src="../../content/images/Color_Money_Bag_96.png">
                                <p data-translate="home.features.reglements">Savoir les importateurs/exportateurs qui font plus de transactions dans le secteur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box home-box">
                        <div class="box-body text-center">
                                <img src="../../content/images/Color_General_Ledger_96.png">
                                <p data-translate="home.features.factures">Savoir les marchandises les plus importées/exportées du secteur des douanes de l'ouest par point de contrôle</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box home-box">
                        <div class="box-body text-center">

                                <img src="../../content/images/Color_Combo_Chart_96.png">
                                <p data-translate="home.features.statistiques">Savoir les marchandises les plus importées/exportées du secteur des douanes de l'ouest par filière</p>

                        </div>
                    </div>
                </div>
            </div>



            <!--<div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
                <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.github">GitHub</a>!
            </p>-->
        </div>
    </div>
</div>
