@CHARSET "UTF-8";


.home-img-div {
	width: 100px;
}
.home-img {
	background-image: url('/content/images/background_home.jpg'); 
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
}

.home-title {
	color: white;
}

.full-screen-map {
	height: 100%;
	min-height: 100%;
}