
<div>
    <h2><span data-translate="gestionaotApp.role.detail.title">Role</span> {{vm.role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gestionaotApp.role.name">Name</span></dt>
        <dd>
            <span>{{vm.role.name}}</span>
        </dd>
        <dt><span data-translate="gestionaotApp.role.description">Description</span></dt>
        <dd>
            <span>{{vm.role.description}}</span>
        </dd>
        <dt><span data-translate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="authority in vm.role.authorities">
                    <span class="label label-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="role-detail.edit({id:vm.role.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
