<section class="content-header">

    <h1 data-translate="gestionaotApp.role.home.title">Users</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> <span data-translate="global.menu.home">Home</span> </a>
        </li>
        <li><a ui-sref="user-management" data-translate="gestionaotApp.role.home.title"> Users</a></li>
    </ol>

</section>



<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="row m-t-b-10">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" ui-sref="role.new">
                        <span class="glyphicon glyphicon-plus"></span> <span
                        data-translate="gestionaotApp.role.home.createLabel"> Create a
								new User
						</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="name"><span data-translate="gestionaotApp.role.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="description"><span data-translate="gestionaotApp.role.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in vm.roles track by role.id">
                        <td><a ui-sref="role-detail({id:role.id})">{{role.id}}</a></td>
                        <td>{{role.name}}</td>
                        <td>{{role.description}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="role-detail({id:role.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="role.edit({id:role.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="role.delete({id:role.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clear-fix">
            <div class="row">
                <div class="col-md-6 m-t-5">
                    <jhi-item-count page="vm.page" total="vm.queryCount"
                                    items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-md-6">
                    <uib-pagination
                        class="pagination pagination-sm no-margin pull-right"
                        total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                        ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</section>












<!--<div>
    <h2 data-translate="gestionaotApp.role.home.title">Roles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="role.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gestionaotApp.role.home.createLabel">
                        Create new Role
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="gestionaotApp.role.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="gestionaotApp.role.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in vm.roles track by role.id">
                    <td><a ui-sref="role-detail({id:role.id})">{{role.id}}</a></td>
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="role-detail({id:role.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="role.edit({id:role.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="role.delete({id:role.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>-->
